.nav-item, .nav-item-filtro,.box-order-by,.menu-secoes-mobile,.btnwpp{
    display: none;
}
@media screen and (max-width: 1700px) {
  .barra .info-header{
    right: 23.5%;
  }
}
@media screen and (max-width: 1610px) {
  .barra .info-header{
    right: 20.5%;
  }
}
@media screen and (max-width: 1440px) {
  .barra .info-header{
    right: 19.5%;
  }
}
@media screen and (max-width: 1380px) {
  .barra .info-header {
    right: 16.5%;
  }
}

@media screen and (max-width: 1280px) {
  .barra .info-header {
    right: 16.5%;
  }
  .barra{
    ul.menu{
      padding-left:0;
    }
  }
  .logo{
    margin-left:0;
    picture,img{
      max-width:100%;
    }
  }
  .card-body .btn-add-carrinho{
    padding: 6px 10px;
  }
  .section.newsletter h4{
    margin-left: 0;
    margin-right: 2%;
  }

}
@media screen and (max-width: 1024px) {
  .group-login-header{
    .header-login{
      margin-right:0;
      width: 160px;
    }
    .cart-shopping{
      width: 90px;
      .cart-valor{
        display: none;
      }
    }
  }
  .busca-header input.input-busca {
    width: 80%;
  }
  .menu-secoes ul{
    width: 100%;
  }
  .section-icons-destaque ul.icons-destaque li{
    width: 21%;
    margin-left: 3%;
  }
  .title-destaque{
    padding-left:0;
    margin-top: 28px;
    margin-bottom: 28px;
    &:after{
      width: 40%;
    }
  }
  .barra ul.menu{
    text-align:left;
    li a{
      padding:0 10px;
    }
  }
  .card-body{
    text-align: center;
  }
  .section-como-funciona ul{
    width:100%;
  }
  .produtos-destaque {
    padding-bottom: 20px;
    text-align: center;
  }
  .section.newsletter{
    text-align: center;
  }
  .item-combo .produto-card .produto-imagem picture, .item-combo .produto-card .produto-imagem img {
    max-height: initial;
    width: auto;
    max-width:100%;
  }
  #cookie{
    .div-btn-aceitar {
      margin-top: 0;
      margin-bottom: 60px;
    }
  }
}
@media screen and (max-width: 768px) {
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
    color: #ff8801;
      outline: 0;
      border: none;
      font-size: 20px;
    font-weight: 800;
  }
  .base-swiper-destaque .swiper-button-next, .base-swiper-destaque .swiper-button-prev{
    color: #ff8801;
    background-color: #2957a5;
    border-radius: 85px;
    height:30px;
    width: 30px;
  }
  .swiper-slide .swiper-slide-active{
    width: 150px !important;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: -10px !important;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -10px !important;
  }
    header{
        position: relative;
    }
    .nav-item {
        width: 47px;
        height: 45px;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 777;
        left: 15px;
        padding: 10px;
        top: 30%;
        display: inline; 
        &.open{
            left: 31%;
            background: #FFFFFF;
            i{
                display:none;
            }
            span:nth-child(2),span:nth-child(3){
                top: 20px;
            }
        }
    }
        .nav-item i {
          position: absolute;
          left: 0;
          top: 35px;
          right: 0;
          font-style: normal;
          text-align: center;
          color: $laranja;
          font-size: 15px;
           }
        .nav-item span {
          display: block;
          position: absolute;
          height: 3px;
          width: 35px;
          background: $laranja;
          border-radius: 9px;
          opacity: 1;
          left: 5px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out; }
          .nav-item span:nth-child(1) {
            top: 5px; }
          .nav-item span:nth-child(2), .nav-item span:nth-child(3) {
            top: 15px; }
          .nav-item span:nth-child(4) {
            top: 25px; }

        .nav-item.open span:nth-child(1) {
          top: 13px;
          width: 0%;
          left: 50%; }
        .nav-item.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .nav-item.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .nav-item.open span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%; }
          .menu-secoes, .menu-secoes-mobile{
            padding-top: 5%;
            display:block;
            width: 200px;
            border-radius: 0;
            position: fixed;
            left: -208px; 
            top: 0;
            margin-top: 0;
            z-index: 999;
            height: 100%;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
            -webkit-transition: left 0.35s linear,opacity 0.25s linear;
            -moz-transition: left 0.35s linear,opacity 0.25s linear;
            -ms-transition: left 0.35s linear,opacity 0.25s linear;
            transition: left 0.35s linear,opacity 0.25s linear;
            background-color: $verde;
            border-left: 7px solid $laranja_dark ;
            overflow: auto;
            margin-left: 0;
            .menu_texto{
              border: 0;
              margin-top: 6%;
              
            }
            .container{
              padding:0;
            }
            ul{
              margin-top: 0px;
              display: block;
            
              &.collapse {
                display: none;
                &.show {
                  display: block;
                }
              } 

              li {
                width: 100%;
                margin-left: 0;
                text-align: center;
                border-bottom: 1px solid #fca501;
                padding-bottom: 0;
                padding-left: 0;
                min-height: initial;
                color: white;
                padding-left: 3%;
                ul{
                  li{
                    a{
                      color: white;
                      font-size: 1em;
                      margin-left: 4%;
                    }
                    &:last-child{
                      border: 0;
                    }
                  }
                }
                p{
                  font-size: 0.7em;
                  text-align: left;
                  margin: 0 3%;
                  a{
                    margin: 0;
                    //text-decoration: underline
                  }
                }
                .li_login{
                  .minha-conta{

                  }
                }
                a{
                  width:100%;
                  margin-left:2%;
                  padding:10px 0;
                  text-align: left;
                  color:#FFFFFF;
                  font-size: 1em;
                  &:before{
                    display: none;
                  }
                  &:hover{
                    background:transparent;
                  }
                  &:after{
                      display:none;
                  }
                  br{
                      display:none;
                  }
                  
                }
                a:not([href]):not([tabindex]){
                  color:#FFFFFF;
                  text-decoration: none;
                }
                .product-subcategory-list a{
                  font-weight: normal;
                }
                  
              }
            }
            h3{
              display:none;
            }
          }
          .barra .info-header{
            display: none;
          }


          .box-combo{
            margin-top: 40px;
            .item-combo{
                margin-bottom: 20px;
                &:after{
                    top:initial;
                    left:0;
                    right:0;
                    bottom:-10px;
                    margin: auto;
                }
            }
            .resumo-valor-combo{
                text-align: center;
            }
        }
        .menu-cardapio{
            
            margin-bottom: 30px;
        }
        .barra{
          text-align:center;
          .redes-sociais{display: none;}
        }
        .group-header{
          text-align:center;
          .busca-header{
            margin-top:5%;
          }
          .group-login-header{
            margin-top:5%;
            margin-bottom:5%;
          }
        }
        .group-login-header{
          .header-login,.cart-shopping{
            width: 50%;
            text-align:left;
            margin:0;
          }
          .cart-shopping{
            .cart-qtd{
              left:10%;
            }
            .cart-valor{
              display:inline-block;
            }
          }

        }
        .section-como-funciona{
          h3{
            margin-bottom:10px;
          }
          ul{
            padding:0;
            li.item{
              width:100%;
              margin:0;
              text-align:center;
              margin-bottom:20px;
              br{
                display: none;
              }
            }
        }
        }
        .page-footer{
          text-align: center;
        }
        .barra ul.menu {
          text-align: center;
        }
        .box-zoom{
          text-align: center;
          margin-bottom: 20px;
          picture,img{
            
          }
        }
        .item-combo .produto-card .produto-imagem{
          max-height:initial;
          picture,img{
            max-height: 100px;
            width: auto;
          }
        }
        .item-combo .produto-card {
          min-height: initial;
      }
      .item-combo .produto-card .produto-desc{
        position:initial;
        text-align:center;
      }

      .menu-marcas{
        display: none;
      }
      .btnwpp{
        // display:block;
      }
      #cookie{
        p{
          margin-top: 0px;
          width: 50%;
          font-size: 14px;
          margin-bottom: 20px;
        }
        .btn-success {
          margin-top: 32px;
        }
      }
      .card-body .validade_ballon .ballon{
        left: -89px;
      }
    }
@media screen and (max-width: 767px) {
  .card-body{
    .btn_seletorQtd{
      position: absolute;
      bottom: 5px;
      display: inline-block;
      left: 0;
      right: 0;
    }
    .seletor-quantidade{
      position: initial;
      margin-left: 0px;
      margin-right: 6px;
      margin-top: 0px;
    }
    .btn-add-carrinho{
      position: initial;
      padding: 10px 10px;
    }
  } 
}
@media screen and (max-width: 684px) {

}
@media screen and (max-width: 640px) {
  .quantity{
    input{
      // background-color: red;
      height: 32px!important;
      max-height: 32px;
      font-size: 12px;
      margin-top:0px !important;
    }
    .input-group{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .row-produto span.quantity .input-group-bt{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .information-entry{
    padding-right: 5px;
    padding-left: 5px;
  }
  .login-box .form-body label.labelinside{
    bottom: 70%;
  }
  .card-body .validade_ballon{
    right: 2px;
    bottom: 275px;
  }
  .swiper-container-nossas-marcas{
    .swiper-slide{
      width: 70px !important;
      border: 0px !important;
    }
    .swiper-button-next{
      right: 0;
    }
    .swiper-button-prev{
      left: 0;
    }
    
  }
  #cookie{
    p{
      margin: 0;
    }
    .btn-success {
      margin-bottom: 38px;
      margin-top: 0;
      font-size: 16px;
    }
  }
  .marcas-que-trabalhamos .title-home {
    font-size: 20px;
  }
    .section-icons-destaque ul.icons-destaque{
      li{
        width:100%;
        margin-bottom:10px;
        margin-left:0;
        margin-right:0;
      }
    }
    .nav-item.open {
      left: 41%;
      
    }
    .title-destaque{
      padding-left:2%;
      text-align:center;
      &:after{
        display:none;
      }
    }
    .section-icons-destaque{
      display:none;
    }

    .barra{
      display:none;
    }
    .logo{
      width:125px;
      height:auto;
      margin: 10px auto;
    }
    .nav-item{
      top: 20px;
      position: fixed;
      &.open{
        
        left: 31%;
        z-index: 9999;
        top: 1%;
        background: transparent;
      }
    }
    .busca-header{
      margin-top: 2%;
    }
    .busca-header input.input-busca {
      width: 80%;
    }
    body{
      margin-top: 150px;
    }
    .group-header{
      position: fixed;
      background-color: #2957a5;
      top: 0;
      left: 0;
      z-index: 11;
      border-bottom: 2px solid #ff8801;
      .base-group-login{
        position:initial;
      }
      .group-login-header{
        position: absolute;
        bottom: 60%;
        right: 5px;
        margin-top:0;
        margin-bottom:0;
        width: 96px;
        .minha-conta{
          padding-left:0;
          .dropdown-toggle::after{
            display:none;
          }
          &:before{
            display:none;
          }
          a.dropdown-toggle{
            content:"";
            @include sprite_args(-16px,-56px);
            width: 38px;
            height: 38px;
            position:absolute;
            top:0;
            left:0;
            transform: scale(0.7);
          }
          span{
            display:none;
            &.nome-usuario{
              display:block;
              width: 100px;
              margin-top: 40px;
              margin-left: -33px;
              text-align: center;
            }
          }
        }
        .carrinho{
          &:before{
            transform: scale(0.7);
          }
          .cart-valor{
            display:none;
          }
          .cart-qtd {
            left: 37%;
          }
        }
      }
    }
    .menu-secoes{
      .col-md-12{
        padding:0;
      }
    }
    .shopping-cart .shopping-cart-body ul.products-list li{
      position:relative;
      .remover-produto{
        position: absolute;
        top: 0;
        right: 2%;
      }
    }

    .menu-cardapio ul.product-category-list li::after{
        display: none !important;        
    }

    .menu-cardapio .category-title {display: inline !important;}
    .checkout-section{
      padding:10px;
      ul{
        padding-left: 0;
        .row-produto span.itemName{
          font-size: 0.8em;
        }
      }
      .order a{
        display:inline-block;
      }
    }
    #finalizar-compra{
      .row-produto strong{margin-right: 10px;}
    }
    .shopping-cart .shopping-cart-body{
      font-size: 0.8em;
      padding:10px 20px 10px 10px;
      min-height: 40%;
      ul.products-list{
        font-size: 0.8em;
      }

    }
    .heading-page {
      padding-top: 15px;
      .title-destaque{
        margin-bottom:15px;
      }
    }
    .menu-cardapio{
      background:transparent;
      margin-bottom:0;
      h3,p,a{
        color:#212529;
      }
      .heading-widget{
        display: none;
      }
      .search-form{
        margin-bottom: 15px;
        display:none;
      }
      .product-category-list{
        padding-top: 5%;
        width: 200px;
        border-radius: 0;
        position: fixed;
        right: -208px; 
        top: 10%;  
        margin-top: 0;
        z-index: 999;
        height: 100%;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
        -webkit-transition: left 0.35s linear,opacity 0.25s linear;
        -moz-transition: left 0.35s linear,opacity 0.25s linear;
        -ms-transition: left 0.35s linear,opacity 0.25s linear;
        transition: left 0.35s linear,opacity 0.25s linear;
        background-color: $verde;
        border-right: 7px solid $laranja ;
        overflow: auto;
        margin-left: 0;
        height: 100%;
            display: inline-block;
            margin-top: 0px; 
            li {
                width: 100%;
                margin-left: 0;
                text-align: center;
                border-bottom: 1px solid $laranja;
                padding-bottom: 0;
                padding-left:0;
                color:#FFFFFF;
                a{
                    width:100%;
                    margin-left:2%;
                    padding:10px 0;
                    text-align: left;
                    &:before{
                      display: none;
                    }
                    &:after{
                        display:none;
                    }
                    br{
                        display:none;
                    }

                }
              
            }
        
      }
    }
    #box-filter.fixed{
      position:fixed;
      width: 100%;
      top:0;
      background: #FFFFFF;
        z-index: 10;
        left: 0;
        padding-left: 10px;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);

        .search-form{
          display:block;
          width:76%;
        }
        ul li a, ul li a:not([href]):not([tabindex]){
          color:#FFFFFF;
        }
    }

    .menu-cardapio ul li a{
      font-size:1em;
    }
    .menu-cardapio ul li a{
      font-size:1em;
    }
    .card-body .seletor-quantidade{
      width: 65px;
      font-size: 0.8em;
      margin-right: 2px;
      margin-bottom: 5px;
      .input-group-btn .btn{

      }
    }
    .card-body .btn-add-carrinho{
      font-size: 0.8em;
      padding: 11px 5px;
    }


    .nav-item-filtro {
      width: 47px;
      height: 45px;
      position: absolute;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out; 
      transition: .5s ease-in-out;
      cursor: pointer;
      z-index: 777;
    
      padding: 10px;
      right: 5%;
      top: 3%;
      
      
      
      &.open{
          left: 31%;
          top: 10%;
          background: #FFFFFF;
          i{
              display:none;
          }
          span:nth-child(2),span:nth-child(3){
              top: 20px;
          }
      }
  }
    .nav-item-filtro i {
      position: absolute;
      left: 0;
      top: 35px;
      right: 0;
      font-style: normal;
      text-align: center;
      color: $laranja;
      font-size: 15px;
      }
    .nav-item-filtro span {
      display: block;
      position: absolute;
      height: 3px;
      width: 35px;
      background: $laranja;
      border-radius: 9px;
      opacity: 1;
      left: 5px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .nav-item-filtro span:nth-child(1) {
        top: 5px; }
      .nav-item-filtro span:nth-child(2), .nav-item-filtro span:nth-child(3) {
        top: 15px; }
      .nav-item-filtro span:nth-child(4) {
        top: 25px; }

    .nav-item-filtro.open span:nth-child(1) {
      top: 13px;
      width: 0%;
      left: 50%; }
    .nav-item-filtro.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav-item-filtro.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .nav-item-filtro.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }

      .tofix.fixed .box-order-by{
        display:inline-block;
        position:fixed;
        width: 90%;
        top: 10px;
        left: 0;
        z-index: 12;
        right: 0;
        margin: auto;
        .inline-text{
          float: left;
          margin-right: 12px;
        }
      }
      #box-filter.fixed .nav-item-filtro{
        display:inline;
        position:fixed;
      }
      .pages-box{
        display:none;
      }
      #infinitiContent .card-body .seletor-quantidade {
        width: 65px;
    }
    .menu-cardapio ul li a:hover, .menu-cardapio ul li a:not([href]):not([tabindex]):hover, .menu-secoes ul li a:hover, .menu-secoes ul li a:not([href]):not([tabindex]):hover{
      color:#FFFFFF;
    }
    .busca-header .dropdown-menu{
      top: 95%;
      left: 0;
      width: 90vw;
      max-width: 100vw;
    }
    .resumo-carrinho{
      .columnCaptions{
        span:first-child{
          width: 30%;
        }
        span:nth-of-type(2) {
          width: 20%;
      }
      span:nth-of-type(3) {
        width: 24%;
      }
    }
    .row-produto{
      span.itemName{
        font-size: 10px;
        width: 30%;
        
        img,picture{
          width: 20px;
          height: auto;
          float: none;
          display: block;
        }
      }
      span.price-item-unitario p{
        font-size: 10px;
      }
      .quantity {
        width: 25%;
        .btn {
          color: #2957A5;
          font-size: 12px;
          padding: 4px;
        }
      }
      .price-item{
        font-size: 12px
      }
      span.popbtn{
        width: 30px;
      }
    }
  }

  .destaque-cats .swiper-container-categoria-destaque .swiper-slide a .circulo{
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
    padding: 0;
  }
  .typeahead{
    .card-body{
      .seletor-quantidade{
        left: 260px;
      }
    }
  }

}
@media screen and (max-width: 590px) {
  .list-thumbs {
    overflow-x: auto;
    .thumb{
    width: 15%;
    margin-bottom: 16px;
    }
  }
}


@media screen and (max-width: 480px) {
  .title-destaque:after{
    display: none;;
  }
  .section.newsletter p{
    width: 100%;
    padding-top: 0;
  }
  .section.newsletter .form-control{
    width: 100%;
  }
  .busca-header input.input-busca {
    width: 80%;
  }


  
  .detalhe-produto .theme-form .product-add-to-cart {
    float: right;
    padding-top: 5px;
    position: relative;
    top: -80px;
  }  
  .detalhe-produto .theme-form .btn-add-carrinho {
    margin-top: 6px;
    display: block;
    float: none;
  }  
  #cookie{
    .col-12{
      div{
        margin-top: 0px;
      }
    }
    .div-btn-aceitar{
      margin-top: 0px;
    }
    p{
      width: 100%;
      font-size: 13px;
      margin-top: 5px;
    }
  } 
}
@media screen and (max-width: 370px) {
  #cookie{
    p{
      font-size: 11px;
    }
  } 
  .card-body{
    
    .seletor-quantidade{
      position: initial;
      margin-left: 0px;
      margin-top: 0px;
    }
    .btn-add-carrinho{
      position: initial;
      padding: 10px 10px;
    }
  } 
}
