$cor_primaria: #e96d6d;
$cor_secundaria: #ffffff;


.shopping-cart{
    background: $cor_primaria;
    position: fixed;
    top: 100px;
    right: 0;
    height: calc(90vh - 119px);
    width: 95%;
    max-width: 400px;
    z-index: 20;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    transition: all .3s ease;
    box-shadow: -10px 0 35px -6px rgba(0,0,0,.5);
    min-height: 340px;
    &.open{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .shopping-cart-header{
        padding: 15px 20px 10px 10px;
        height:50px;
        border-bottom:1px solid $cor_secundaria;
        top: 0;
        
        p.cart-title{
            font-weight: bold;
            text-transform: uppercase;
            color:$cor_secundaria;
            margin:0;
            line-height: 1em;
            
            display:inline-block;
        }
        .close-btn{
            color:$cor_secundaria;
            float: right;
            transition: all 0.5s;
            cursor:pointer;

            &:hover{
                color:#FFFFFF;
            }
        }
    }
    .shopping-cart-body{
        padding: 15px 20px 10px 10px;
        overflow-y: auto;
        min-height: 30%;
        height: 49%;
        background:$cor_secundaria;
        p.empty-message{
            color:$cor_primaria;
            font-weight: bold;
            text-align:center;
            margin-bottom:10%;
            font-size: 1.2em;
            
        }
        ul.products-list{
            margin:0;
            padding:0;
            width:100%;
            li{
                display: block;
                padding-top:5px;
                margin-top:5px;
                border-bottom:1px solid $cor_primaria;;
                color:$cor_primaria;
                font-weight: bold;
                a{
                    color:$cor_primaria;;
                    &:hover{
                        color:darken($cor_primaria, 10%);
                        text-decoration: none;
                        picture, img{
                            text-decoration: none;

                        }
                    }
                }
                .product-image{
                    display: inline-block;
                    vertical-align: top;
                    width: 14%;
                    picture, img{
                        width:100%;
                        max-width:100%;
                        height:auto;
                        font-size:10px;
                        line-height: 9px;
                        overflow:hidden;
                        max-height:49.41px;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                .product-info{
                    display: inline-block;
                    vertical-align: top;
                    width: 79%;
                    text-transform: uppercase;
                    padding: 0;
                    font-size: 0.9em;
                    p{
                        margin:0;
                        
                    }
                    .product-name{
                        width:100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        small{
                            display: block;;
                        }
                    }
                }
                .remover-produto{
                    display: inline-block;
                    vertical-align: top;
                    font-size: 15px;

                }
                .input-group{
                    display: inline-block;
                    vertical-align: top;

                    span.input-group-btn{
                        display:inline-block;
                        color:$cor_secundaria;
                        .btn-link{
                            color:$cor_secundaria;
                        }

                    }
                    input.form-control{
                        width: 30px;
                        text-align: center;
                        display: inline-block;
                    }
                }
                p.preco{
                    margin:0;
                    display:inline-block;
                    text-align:left;
                    vertical-align:middle;
                    margin-top: 5px;
                    width:30%;
                }
            }
        }
    }
    .shopping-cart-footer{
        padding: 15px 20px 10px 10px;
        height: 58%;
        .cart-btns{
            p.legend{
                display:block;
                margin:0 auto;
                width:100%;
            }
            display: block;
            width: 100%;
            margin:8px 0;
            clear:both;
            text-align:center;
            .btn-border-yellow{
                display:inline-block;
                vertical-align:top;
                padding:8px;
                font-size: 0.9em;;
                &:first-of-type{
                    margin-right: 10%;
                }
            }
        }
        p{
            color:#FFFFFF;
            float: left;
            width: 100%;
            clear: both;
            font-weight:bold;
            margin-top:0;
            margin-bottom:5px;
            span{
                float:right;
                text-align:right;
                font-weight: normal;;
            }
        }
        .btn-green{
            text-transform: uppercase;
            border: none;
            color: #FFFFFF;
            font-weight: bold;
            display: inline-block;
            padding: 15px;
            vertical-align: top;
            text-align: center;
            font-size: 1.1em;
            position: relative;
            background: #bc1e51;
            width:100%;
            &:hover{
                text-decoration: none;
                color: $cor_secundaria;
            }
        }
        .btn-border-yellow{
            border: 5px solid $cor_secundaria;
                color: #FFFFFF;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                line-height: 1.3em;
                transition: all 0.5s;
            background: transparent;
            padding: 10px;
            font-size: 1em;
            border-width: 2px;
            margin: 5px auto;
            display: block;
            &:hover{
                color: $cor_secundaria;
                border-color: $cor_primaria;
                text-decoration: none;
                transition: all 0.5s;
            }
        }
    }
    .input-group-btn{
        width:initial;
    }
}


.shopping-cart{
    .loading{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        text-align: center;
        z-index: 10;
        opacity: 0.8;
        p{
            position:absolute;
            top:0;
            bottom:0;
            margin:auto;
            height: 50px;
            width: 100%;
            i{
                display:block;
            }
        }
    }
}

.shopping-cart .shopping-cart-body ul.products-list li .input-group span.input-group-btn .btn-link {
    color: $cor_primaria;
    border: none;
    top: 6px;
}

//Responsive

@media screen and (max-width: 1700px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
    .shopping-cart .shopping-cart-body{
        height: 140px;
    }
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 375px) {
}
