<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-sobre"></h2>
        </div>
    </div>
<div class="information-blocks container inner-page">
    <div class="row">
        <div class="col-md-12" v-if="!usuario.logado">
            <h2>Você não está logado. Acesso negado!</h2>
        </div>
        <div v-else class="col-md-12 ">
            <cadastroEmpresa :usuario="usuario"></cadastroEmpresa>
        </div>
    </div>
</div>
<div class="clear"></div></div>