<section class="page-default page-checkout" v-if="usuario.logado">
    <checkout :carrinho="carrinho" :usuario="usuario" :forma_entrega="'Delivery'" :forma_pagamento="'Tradepay'"></checkout>
</section>
<section v-else class="page-default page-login">
        <div class="container">
            <div class="row" v-if="usuario.logado">
                <div class="col-sm-12">
                    <p>Você já está logado na sua conta, boas compras! :)</p>
                </div>
            </div>
            <div v-else class="information-blocks tpl-login">
                <div class="row">
                    <div class="col-sm-6 information-entry ">
                        <div class="login-box">
                            <div class="article-container style-1">
                                <h3>Clientes cadastrados</h3>
                                <p>Para clientes que já possuem cadastro ativo e acesso ao site.</p>
                            </div>
                            <login></login>               
                            <br>
                            <br>
                            <a class="link exibirPopupRecuperarSenha">Esqueceu sua senha?</a>    
                        </div>
                    </div>
            
                    <div class="col-sm-6 information-entry">
                        <div class="login-box ">
                            <div class="article-container style-1">
                                <h3>Novos clientes</h3>
                                <p>Faça seu cadastro para prosseguir com sua compra</p>
                            </div>
                            <cadastroUsuario :usuario="usuario"></cadastroUsuario>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>