<div id="placeholder-0" site="[object Object]" modulo="[object Object]" class="formulario-contato"><div class="contact-spacer"></div>
<div class="information-blocks container" style="margin-top:20px;">

    <div class="row">
        <div class="col-md-8 col-md-offset-2 information-entry">
            <contato lugar="contato"></contato>
        </div>
        <div class="col-md-4 col-md-offset-2 information-entry">
            <p>
               <strong> CENTRAL DE ATENDIMENTO</strong><br>
                (22) 2519-9900 <br>
                Avenida Nossa Senhora do Amparo, 3072 <br>
                Jardim Ouro Preto, Nova Friburgo RJ <br>
            </p>
        </div>
    </div>
</div>
<div class="clear"></div></div>