
<footer class="footer-spa-salon footer-dark bg-blue-22 page-footer">
  <div class="footer-top padding-two-tb  md-padding-50px-tb">
      <div class="container">
          <div class="row">
              <!-- start footer column -->
              <div class="col-12 col-lg-3 col-sm-6 md-margin-40px-bottom xs-margin-25px-bottom">
                  <span class="alt-font font-weight-500 d-block text-blue-4 margin-20px-bottom xs-margin-10px-bottom">Links</span>
                  <ul>
                      <li><a href="#">A empresa</a></li>
                      <li><a href="#">Nossa tecnologia</a></li>
                      <li><a href="#">Alimentação natural</a></li>
                      <li><a href="#">Equipe</a></li>
                  </ul>
              </div>
              <!-- end footer column -->
              <!-- start footer column -->
              <div class="col-12 col-lg-3 col-sm-6 md-margin-40px-bottom xs-margin-25px-bottom">
                  <span class="alt-font font-weight-500 d-block text-blue-4 margin-20px-bottom xs-margin-10px-bottom">Outros</span>
                  <ul>                           
                      <li><a href="#">Receitas</a></li>
                      <li><a href="#">Assinar</a></li>
                      <li><a href="#">Kits</a></li>
                      <li><a href="#">Experimente</a></li>
      <li><a href="#">Aonde Encontrar</a></li>
                  </ul>
              </div>
              <!-- end footer column -->
              <!-- start footer column -->
              <div class="col-12 col-lg-3 col-sm-6 xs-margin-25px-bottom">
                  <span class="alt-font font-weight-500 d-block text-blue-4 margin-20px-bottom xs-margin-10px-bottom">Contato</span>
                  <p class="w-85 margin-15px-bottom">Av. das Américas, 2480, Bloco 4 Sala 129, Rio de janeiro, RJ</p>
                  <div><i class="feather icon-feather-phone-call icon-very-small margin-10px-right text-blue-4"></i>+55 21 3411-8899</div>
                  <div><i class="feather icon-feather-mail icon-very-small margin-10px-right text-blue-4"></i><a href="#">contato@dox.dog</a></div>
              </div>
              <!-- end footer column -->
              <!-- start footer column -->
              <div class="col-12 col-lg-3 col-sm-6">
                  <span class="alt-font font-weight-500 d-block text-blue-4 margin-20px-bottom">Siga a DOX no Instagram</span>
                  <div class="w-100 d-inline-block margin-10px-top">
                      <ul class="instafeed-grid instafeed-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-3col sm-grid-3col xs-grid-3col gutter-small" data-total="3">
                          <li class="grid-item"><figure><a href="#" data-href="https://www.instagram.com/p/CWlL10RrZOL/" target="_blank"><img src="images/insta-01.jpg" data-src="image"  class="insta-image" alt="" /><span class="insta-counts"><i class="fab fa-instagram"></i>likes</span></a></figure></li>
        <li class="grid-item"><figure><a href="#" data-href="https://www.instagram.com/p/CWlL10RrZOL/" target="_blank"><img src="images/insta-02.jpg" data-src="image"  class="insta-image" alt="" /><span class="insta-counts"><i class="fab fa-instagram"></i>likes</span></a></figure></li>
        <li class="grid-item"><figure><a href="#" data-href="https://www.instagram.com/p/CWlL10RrZOL/" target="_blank"><img src="images/insta-03.jpg" data-src="image"  class="insta-image" alt="" /><span class="insta-counts"><i class="fab fa-instagram"></i>likes</span></a></figure></li>
                      </ul>
                      <a class="alt-font text-extra-small text-uppercase font-weight-500 margin-20px-top d-inline-block" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram icon-extra-small align-middle margin-10px-right text-gradient-magenta-orange-2"></i><span class="d-inline-block align-middle">Seguir</span></a>
                  </div>
              </div>
              <!-- end footer column -->
          </div>
      </div>
  </div>
<div class="footer-bottom padding-20px-tb border-top border-color-white-transparent bg-cinza-2">
  <div class="container"> 
    <div class="row align-items-center">
              <div class="col-12 col-md-3 text-center text-md-start sm-margin-20px-bottom">
                  <a href="index.html" class="footer-logo"><img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt=""></a>
              </div>
              <div class="col-12 col-md-6 text-center last-paragraph-no-margin sm-margin-20px-bottom">
                <p>&copy; 2021 DOX.DOG</p>
              </div>
              <div class="col-12 col-md-3 text-center text-md-end">
    
                  <div class="social-icon-style-12">
      
                      <ul class="extra-small-icon">
        
        <a  class="footer-logo"><img src="images/logo-recicla.png" data-at2x="images/logo-recicla.png" alt=""></a>
                          <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                      </ul>
      
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<carrinho :carrinho="carrinho" :base_url="base_url" :usuario="usuario"></carrinho>