<header>
  <div class="barra">
    <div class="container">
      <div class="row"> 
        <div class="col-md-9 col-sm-12">
          <ul class="menu">
            <li>
              <a href="<?= $baseUrl;?>/sobre-nos" title="QUEM SOMOS ">Quem Somos </a>
            </li>
<!--             <li>
              <a href="<?= $baseUrl;?>/localizacao" title="Receituário e Catálogo">Receituário e Catálogo</a>
            </li> -->
            <li>
              <a href="<?= $baseUrl;?>/localizacao" title="PRODUTOS">Localização</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/contato" title="LOCALIZAÇÃO">Fale Conosco</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/nossas-marcas"  title="CONTATO">Nossas Marcas</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/receitas"  title="Receitas">Receitas</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/trabalhe-conosco"  title="CONTATO">Trabalhe Conosco</a>
            </li>
          </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 col-sm-12">
          <ul class="redes-sociais ">
  <!--           <li>
              <a href="https://api.whatsapp.com/send?phone=55213965165777" target="_blank" title="Whatsapp (21) 96516-5777" class="no-border"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </li> -->
            <li>
              <a href="https://www.facebook.com/novamixnf/" target="_blank" title="Nosso Facebook" ><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/novamix.distribuidora/" target="_blank" title="Nosso Instagram" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="info-header">
      <ul>
        <li>Atendimento</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> (22) 2519-9900 </li>
        
<!--         <li> <a target="_blank" href="http://www.vmarket.com.br/app/vmarket-core/site/exibir/www.novamixnf.com.br">Ir para o site antigo</a> </li> -->
    <!--     <li><i class="fa fa-envelope-o" aria-hidden="true"></i> vendas@Novamix.com.br</li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> CADEG - Lojas 5 e 7 </li> -->
      </ul>
    </div>
  </div>
    <div class="container group-header">
      <div class="row">
        <div class="col-xl-4 col-md-3 col-12">
          <a href="<?= $baseUrl;?>" class="logo" title="Ir para Home">
            <picture>
                  <source title="Novamix" srcset="images/logo-novamix.webp" type="image/webp">
                  <source title="Novamix" srcset="images/logo-novamix.png" type="image/png"> 
                  <img title="Logo Novamix" src="images/logo-novamix.png" alt="Logo Novamix">
              </picture>
          </a> 
        </div>

        <div class="col-md-4 col-md-4 col-12">
            <div class="busca-header">
              <buscaProdutos></buscaProdutos>
            </div>
        </div>
 
        <div class="col-xl-4 col-md-5 col-12 base-group-login">
          <menuHeader :usuario="usuario" :carrinho="carrinho" :base_url="base_url"></menuHeader>
        </div>
      </div>
    </div>
    <div class="nav-item">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i>Menu</i>
    </div>
    <nav class="menu-secoes menu-secoes-mobile">
      <!-- <listaSecoes :base_url="base_url" :id_site="id_site"></listaSecoes> -->
      <ul class="product-category-list" id="accordion" >
        <li class="" >
          <a  data-toggle="collapse" href="#ofertas" role="button" aria-expanded="false" aria-controls="collapseExample"  title="Promoções" style="color: #ff8801">Ofertas</a>
          <div id="ofertas" class="collapse">
            <ul>
              <li>
                <a href="<?= $baseUrl;?>/produtos/?tags=Promoções"  title="Promoções">Da Semana</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="">
          <ul>
            <li>
              <a href="<?= $baseUrl;?>/produtos/?secao=FOOD SERVICES" title="FoodService">FoodService</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/produtos/?secao=MERCEARIA ALTO GIRO" title="Mercearia">Mercearia</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/produtos/?secao=PANIFICAÇÃO"  title="Padaria">Padaria</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/produtos/?secao=HIGIENE E LIMPEZA"  title="Hotel">Hotel</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/produtos/?tags=Pizza"  title="Pizzaria">Pizzaria</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/produtos/?secao=FOOD SERVICES"  title="Pastelaria">Pastelaria</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/produtos/?secao=CONFEITARIA"  title="Confeitaria">Confeitaria</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/produtos/?tags=Restaurante"  title="Restaurante">Restaurante</a>
            </li>
            <li>
              <a href="<?= $baseUrl;?>/receitas"  title="Restaurante">Receitas</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="<?= $baseUrl;?>/sobre-nos"  title="sobre-nos">Sobre nós</a>
        </li>
        <li class="li_login">
          <div class="minha-conta" v-if="usuario.logado == false">
              <a :href="base_url + '/login'" class="dropdown-toggle"><span>Entre <br>ou Registre-se</span></a>                    
          </div>
        </li>
        <li class="menu_texto">
          <p>Frete grátis apartir de R$300,00</p>
          <p><b><a href="<?= $baseUrl;?>/perguntas-frequentes">Perguntas Frequentes</a></b></p>
          <p><a href="<?= $baseUrl;?>/politica-de-trocas">Política do site</a></p>
        </li>
      </ul>
    </nav>
          <nav class="menu-secoes row">
            <div class="container">
              <div class="col-md-12">
                <ul>

                  <li>
                    <a href="<?= $baseUrl;?>/produtos/?secao=FOOD SERVICES" title="FoodService"><div class="circle-menu-icon"><img src="images/ico-farinha.png" border="0"></div>FoodService</a>
                  </li>
                  <li>
                    <a href="<?= $baseUrl;?>/produtos/?secao=MERCEARIA ALTO GIRO" title="Mercearia"><div class="circle-menu-icon"><img src="images/ico-mercearia.png" border="0"></div>Mercearia</a>
                  </li>
                  <li>
                    <a href="<?= $baseUrl;?>/produtos/?secao=PANIFICAÇÃO"  title="Padaria"><div class="circle-menu-icon"><img src="images/ico-mistura-paes.png" border="0"></div>Padaria</a>
                  </li>
                  <li>
                    <a href="<?= $baseUrl;?>/produtos/?secao=HIGIENE E LIMPEZA"  title="Hotel"><div class="circle-menu-icon"><img src="images/hotel.png" class="invert" border="0"></div>Hotel</a>
                  </li>
                  <li>
                    <a href="<?= $baseUrl;?>/produtos/?tags=Pizza"  title="Pizzaria"><div class="circle-menu-icon"><img src="images/pizza.png" class="invert" border="0"></div>Pizzaria</a>
                  </li>
                  <li>
                    <a href="<?= $baseUrl;?>/produtos/?secao=FOOD SERVICES"  title="Pastelaria"><div class="circle-menu-icon"><img src="images/pastel.png" class="invert" border="0"></div>Pastelaria</a>
                  </li>
                  <li>
                    <a href="<?= $baseUrl;?>/produtos/?secao=CONFEITARIA"  title="Confeitaria"><div class="circle-menu-icon"><img src="images/confeitaria.png" class="invert" border="0"></div>Confeitaria</a>
                  </li>
                  <li>
                    <a href="<?= $baseUrl;?>/produtos/?tags=Restaurante"  title="Restaurante"><div class="circle-menu-icon"><img src="images/restaurante.png" class="invert" border="0"></div>Restaurante</a>
                  </li>
                  <li style="background: #ff8801; margin-top: 10px">
                    <a href="<?= $baseUrl;?>/produtos/?tags=Promoções"  title="Promoções"><b>Promoções</b></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
</header>
