<header>
  <!-- start navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent border-bottom border-color-white-transparent header-light fixed-top navbar-boxed header-reverse-scroll">
      <div class="container-fluid nav-header-container">
          <div class="col-auto col-sm-6 col-lg-2 me-auto ps-lg-0">
              <a class="navbar-brand" :href="base_url">
                  <img src="images/logo-dox-white.png" data-at2x="images/logo-white@2x.png" class="default-logo" alt="">
                  <img src="images/logo-dox.png" data-at2x="images/logo-tussock@2x.png" class="alt-logo" alt="">
                  <img src="images/logo-dox-mobile.png" data-at2x="images/logo-dox@2x.png" class="mobile-logo" alt="">
              </a>
          </div>
          <div class="col-auto col-lg-8 menu-order px-lg-0">
              <button class="navbar-toggler float-end" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                  <ul class="navbar-nav alt-font">
      
                    <li class="nav-item">
                        <a class="nav-link goTo" href="#quem-somos" >Quem Somos</a>
                    </li>

                    <li class="nav-item">
                        <a  class="nav-link goTo" href="#loja">Loja</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link goTo"  href="#natural" >Alimentação Natural</a>
                    </li>
                    
                    <li class="nav-item">
                        <a  class="nav-link goTo" href="#tecnologia">Tecnologia</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link goTo" href="#">Projetos Sociais</a>
                    </li>
      
                    <li class="nav-item">
                        <a class="nav-link goTo" href="#contato" >Contato</a>
                    </li>
  
                </ul>
              </div>
          </div>
          <menuHeader :carrinho="carrinho" :base_url="base_url" :usuario="usuario"></menuHeader>
      </div>
  </nav>
  <!-- end navigation -->
</header>