     <!--start header-->

        <!-- end header -->
        <!-- start slider section -->
        <section class="p-0 main-section-container" >
            <div class="container-fluid position-relative">
                <div class="row">
                    <div class="swiper-container p-0 full-screen md-h-700px sm-h-450px white-move swiper-light-pagination" data-slider-options='{ "slidesPerView": 1, "loop": true, "autoplay": { "delay": 4500, "disableOnInteraction": false },  "pagination": { "el": ".swiper-pagination", "clickable": true }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                        <div class="swiper-wrapper">
                            <!-- start slider item -->
                            <div class="swiper-slide cover-background" style="background-image:url('images/banner-01.jpg');">
                                <div class="opacity-extra-medium "></div>
                                <div class="container h-100">
                                    <div class="row justify-content-center h-100">
                                        <div class="col-12 col-xl-6 col-sm-7 position-relative d-flex flex-column justify-content-center h-100 text-center">
											<div class="tp-caption tp-resizeme img"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                     data-type="image"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-50','-60','-80','-110']" 
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-responsive="off"
                                     data-responsive_offset="on">
                                    <img src="images/banner-01-logo.png" data-ww="['609px','500px','440px','300px']" data-hh="['auto','auto','auto','auto']" alt="App Store" width="478" height="342">
                                </div>
										<div><a href="#" class="btn btn-fancy btn-extra-large btn-white btn-box-shadow btn-rounded d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr mt-4 btn-desconto">Compre com 20% de desconto</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end slider item -->
                            
                            <!-- start slider item -->
                            <div class="swiper-slide cover-background" style="background-image:url('images/banner-03.jpg');">
                          <div class="opacity-extra-medium "></div>
                                <div class="container h-100">
                                    <div class="row justify-content-center h-100">
                                        <div class="col-12 col-xl-6 col-sm-7 position-relative d-flex flex-column justify-content-center h-100 text-center">
											<div class="tp-caption tp-resizeme img"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                     data-type="image"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-50','-60','-80','-110']" 
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-responsive="off"
                                     data-responsive_offset="on">
                                    <img src="images/banner-01-logo.png" data-ww="['609px','500px','440px','300px']" data-hh="['auto','auto','auto','auto']" alt="App Store" width="478" height="342">
                                </div>
										<div><a href="#" class="btn btn-fancy btn-extra-large btn-white btn-box-shadow btn-rounded d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr mt-4">Compre com 20% de desconto</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end slider item -->
							
							
							<!-- start slider item -->
                                  <div class="swiper-slide cover-background" style="background-image:url('images/banner-02.jpg');">
                          <div class="opacity-extra-medium "></div>
                                <div class="container h-100">
                                    <div class="row justify-content-center h-100">
                                        <div class="col-12 col-xl-6 col-sm-7 position-relative d-flex flex-column justify-content-center h-100 text-center">
											<div class="tp-caption tp-resizeme img"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                     data-type="image"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-50','-60','-80','-110']" 
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-responsive="off"
                                     data-responsive_offset="on">
                                    <img src="images/banner-02-logo.png" data-ww="['609px','500px','440px','300px']" data-hh="['auto','auto','auto','auto']" alt="App Store" width="478" height="342">
                                </div>
										<div><a href="#" class="btn btn-fancy btn-extra-large btn-white btn-box-shadow btn-rounded d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr mt-4">Compre com 20% de desconto</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end slider item -->
							
							
                        </div>
                        <!-- start slider pagination -->
                        <!--<div class="swiper-pagination swiper-light-pagination"></div>-->
                        <!-- end slider pagination -->
                        <!-- start slider navigation -->
                        <div class="swiper-button-previous-nav swiper-button-prev slider-navigation-style-05"><i class="line-icon-Arrow-OutLeft icon-large"></i></div>
                        <div class="swiper-button-next-nav swiper-button-next slider-navigation-style-05"><i class="line-icon-Arrow-OutRight icon-large"></i></div>
                        <!-- end slider navigation -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start section -->
        <section class="cover-background overlap-height md-no-overlap-section main-section-container" style="background-image: url(images/welcome-bg.jpg)" >
            <div class="container overlap-gap-section">
                <div class="row justify-content-center" id="loja">
                    <div class="col-12 col-lg-6 col-sm-8 text-center margin-2-rem-bottom md-margin-3-rem-bottom xs-margin-4-rem-bottom wow animate__fadeIn">
						<div class="col-12 col-xl-7 col-lg-6 position-relative md-margin-8-rem-bottom xs-margin-10-rem-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        
                        <div class="row align-items-center">
                   
                        </div>
                        </div>
                        <span class="d-block margin-40px-bottom md-margin-25px-bottom xs-margin-15px-bottom animate__heartBeat wow animate__heartBeat wow"><img src="images/carimbo.png" alt=""></span>
                        <span class="d-inline-block alt-font text-medium-gray text-uppercase font-weight-500 margin-15px-bottom letter-spacing-1px xs-margin-10px-bottom">Praticidade, Saúde e Tecnologia</span>
                        <h5 class="alt-font text-extra-dark-gray font-weight-500 letter-spacing-minus-1px">Escolha o DOX do seu dog</h5>
                    </div>
                </div>
                <destaques quantidade="100" tipo="tag-slider"  qtd_mobile="2"></destaques>
            </div>
        </section>
        <!-- end section -->
		
			<section class="parallax one-half-screen  wow animate__fadeIn extra-big-section main-section-container div-parallax" data-parallax-background-ratio="0.5" style="background-image: url('images/img-fundo-proporcione.jpg');" id="natural">
			
			
			
            <div class="container">
              <div class="row  md-margin-6-rem-top sm-margin-4-rem-top" >
                  <div class="col-12 col-lg-5 col-md-6 wow animate__fadeIn" data-wow-delay="0.2s">
                        <h5 class="alt-font font-weight-500 line-height-46px md-line-height-38px text-extra-dark-gray m-md-0 sm-line-height-36px">Proporcione uma maior
qualidade de vida e longevidade ao seu Dog.</h5>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 offset-lg-1 wow animate__fadeIn" data-wow-delay="0.4s">
                        <p class="w-85 lg-w-100 margin-20px-bottom text-white text-left">Desenvolvemos 3 linhas exclusivas que levarão de maneira balanceada e saborosa os nutrientes necessários para a saúde do seu Dog, seja ele magrin ou gordin, ligado no 220v ou paradão, desinibido ou na dele.
</p>
                        <a href="#" class="btn btn-link thin btn-extra-large text-extra-dark-gray btn-saiba">Saiba mais</a>
                    </div>
                </div>
            </div>
    </section>
		
		
		
		
		<section class="cover-background wow animate__fadeIn main-section-container" style="background-image:url('images/img-fundo-pacote.jpg');">
            <div class="container">
                <div class="row align-items-center justify-content-center" id="tecnologia">
                    <div class="col-12 col-lg-6 text-center text-lg-start md-margin-30px-bottom wow animate__fadeIn produto-div" data-wow-delay="0.2s">
                        <img src="images/img-pacote.png" alt="" />
                    </div>
                    <div class="col-12 col-xl-5 offset-xl-1 col-lg-6 col-md-8">
                        <div class="row row-cols-1 justify-content-center">
                            <!-- start services item -->
                            <div class="col-12 margin-40px-bottom sm-margin-30px-bottom wow animate__fadeIn">
                                <div class="feature-box feature-box-left-icon-middle">
                                    <div class="feature-box-icon margin-35px-right xs-margin-15px-right wow animate__zoomIn" data-wow-delay="0.2s">
                                        <img class="" src="images/prato-01.jpg" alt="">
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin wow animate__fadeInRight" data-wow-delay="0.3s">
                                        <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500 margin-5px-bottom">DOX é </span>
										<span class="alt-font font-weight-500 text-red-2 text-uppercase margin-15px-bottom d-inline-block sm-margin-5px-bottom">&nbsp;Praticidade</span>
                                      <p>Fácil de armazenar e levar com você.</p>                           
                                    </div>
                                </div>
                            </div>
                            <!-- end services item -->
                            <!-- start services item -->
                            <div class="col-12 margin-40px-bottom sm-margin-30px-bottom wow animate__fadeIn">
                                <div class="feature-box feature-box-left-icon-middle">
                                    <div class="feature-box-icon margin-35px-right xs-margin-15px-right wow animate__zoomIn" data-wow-delay="0.2s">
                                        <img class="" src="images/prato-01.jpg" alt="">
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin wow animate__fadeInRight" data-wow-delay="0.6s">
                                        <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500 margin-5px-bottom">DOX é  </span>
										<span class="alt-font font-weight-500 text-red-2 text-uppercase margin-15px-bottom d-inline-block sm-margin-5px-bottom">&nbsp;Saúde</span>
                                        <p>100% natural e sem conservantes.</p>                           
                                    </div>
                                </div>
                            </div>
                            <!-- end services item -->
                            <!-- start services item -->
                            <div class="col-12 wow animate__fadeIn">
                                <div class="feature-box feature-box-left-icon-middle">
                                    <div class="feature-box-icon margin-35px-right xs-margin-15px-right wow animate__zoomIn" data-wow-delay="0.2s">
                                        <img class="" src="images/prato-01.jpg" alt="">
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin wow animate__fadeInRight" data-wow-delay="0.9s">
                                        <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500 margin-5px-bottom">DOX é  </span>
										<span class="alt-font font-weight-500 text-red-2 text-uppercase margin-15px-bottom d-inline-block sm-margin-5px-bottom">&nbsp;Tecnologia</span>
                                        <p>Não é necessário congelar.</p>                           
                                    </div>
                                </div>
                            </div>
                            <!-- end services item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
	
		
		
		<section class="cover-background overlap-height wow animate__fadeIn main-section-container " style="background-image:url('images/img-video-fundo.jpg');">
            <div class="container">
                <div class="row overlap-gap-section justify-content-center align-items-center">
                    <div class="col-12 col-lg-8 col-sm-9 text-center">
                        <a href="https://www.youtube.com" class="popup-youtube video-icon-box video-icon-extra-large position-relative d-block margin-30px-bottom md-margin-40px-bottom wow animate__zoomIn" data-wow-delay="0.2s">
                            <span>
                                <span class="video-icon bg-white">
                                    <i class="icon-simple-line-control-play text-gradient-green-2"></i>
                                    <span class="video-icon-sonar">
                                        <span class="video-icon-sonar-afr bg-white"></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <h4 class="alt-font font-weight-200 text-white mb-0 wow animate__fadeIn" data-wow-delay="0.6s"> Comida 100% natural para o seu dog. Sem pegadinhas.</h4>
                    </div>
                </div>
            </div>
        </section>   
		
		
		
		<section class="overflow-visible main-section-container ">
          <div class="container">
                <div class="row m-0 justify-content-center">
                    <div class="col-12 col-xl-10 col-lg-11 position-relative bg-white border-radius-6px box-shadow-large overflow-hidden overlap-section-one-fourth wow animate__fadeIn" data-wow-delay="0.5s">
                        <div class="row" id="contato">
                            <div class="col-12 col-md-6 cover-background sm-h-350px" style="background-image:url('images/img-assine.jpg');"></div>
                            <div class="col-12 col-md-6 padding-6-rem-all lg-padding-5-rem-all md-padding-3-rem-all sm-padding-5-rem-all xs-padding-3-half-rem-all newsletter-index">
                                <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-20px-bottom">Assine e receba os kits em casa</h5>
                                <p>O melhor da comida saudável, prática e 100% natural para seu dog.</p>
                                <form action="email-templates/subscribe-newsletter.php" method="post" class="margin-10px-top d-inline-block w-100">
                                    <input class="bg-light-gray border-radius-4px border-0 medium-input margin-20px-bottom required" type="text" name="name" placeholder="Seu nome" />
                                    <input class="bg-light-gray border-radius-4px border-0 medium-input margin-20px-bottom required" type="email" name="email" placeholder="Seu email address" />
                                    <input type="hidden" name="redirect" value="">
                                    <button class="btn btn-large btn-yellow-22 btn-round-edge w-100 mb-0 submit" type="submit">Enviar</button>
                                    <div class="form-results border-radius-4px d-none"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			  
			  
			  
			  
		    <div class="row align-items-center justify-content-center margin-9-rem-top lg-margin-6-rem-top div-usuarios">
                    <div class="col-12 col-lg-4 col-sm-8 text-center text-lg-start md-margin-50px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        <span class="alt-font font-weight-500 text-blue-2 text-uppercase d-inline-block margin-15px-bottom sm-margin-5px-bottom">Nossos clientes nos amam</span>
                        <h5 class="alt-font font-weight-500 text-extra-dark-gray letter-spacing-minus-1px m-0">O que os clientes falam de nossos produtos</h5>
                    </div>
                    <div class="col-12 col-xl-7 offset-xl-1 col-lg-8 wow animate__fadeIn" data-wow-delay="0.4s">
                        <div class="swiper-simple-arrow-style-1">
                            <div class="swiper-container black-move" data-slider-options='{ "loop": true, "slidesPerView": 1, "spaceBetween": 0, "observer": true, "observeParents": true, "keyboard": { "enabled": false, "onlyInViewport": false }, "autoplay": { "delay": 4500, "disableOnInteraction": false }, "effect": "slide" }'>
                                <div class="swiper-wrapper">
                                    <!-- start testimonial item -->
                                    <div class="swiper-slide text-center">
                                        <div class="feature-box feature-box-left-icon-middle">
                                            <div class="feature-box-icon margin-50px-right xs-margin-15px-right">
                                                <img class="rounded-circle w-180px h-180px xs-w-80px xs-h-80px" src="images/testemunho-02.jpg" alt=""/>
                                            </div>
                                            <div class="feature-box-content">
                                                <p class="w-85 lg-w-100">Meu filho se alimenta todo dia com os produtos DOX e ele está super saudável.</p>
                                                <div class="text-extra-dark-gray alt-font text-uppercase font-weight-600 line-height-20px">Alexander Schneider</div>
                                                <span class="alt-font text-small text-uppercase">Pai do Rex</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end testimonial item -->
                                    <!-- start testimonial item -->
                                    <div class="swiper-slide text-center">
                                        <div class="feature-box feature-box-left-icon-middle">
                                            <div class="feature-box-icon margin-50px-right xs-margin-15px-right">
                                                <img class="rounded-circle w-180px h-180px xs-w-80px xs-h-80px" src="images/testemunho-03.jpg" alt=""/>
                                            </div>
                                            <div class="feature-box-content">
                                                <p class="w-85 lg-w-100">Foi nítida a melhora em todos os sentidos da minha sobrinha linda e saudável.</p>
                                                <div class="text-extra-dark-gray alt-font text-uppercase font-weight-600 line-height-20px">Mariana Costa</div>
                                                <span class="alt-font text-small text-uppercase">Dinda da Dora</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end testimonial item -->
                                    <!-- start testimonial item -->
                                    <div class="swiper-slide text-center">
                                        <div class="feature-box feature-box-left-icon-middle">
                                            <div class="feature-box-icon margin-50px-right xs-margin-15px-right">
                                                <img class="rounded-circle w-180px h-180px xs-w-80px xs-h-80px" src="images/testemunho-01.jpg" alt=""/>
                                            </div>
                                            <div class="feature-box-content">
                                                <p class="w-85 lg-w-100">As opções de pratos são diversas e meu netinho peludo ama todas. Come com muito apetite.</p>
                                                <div class="text-extra-dark-gray alt-font text-uppercase font-weight-600 line-height-20px">Jonhatan Melo</div>
                                                <span class="alt-font text-small text-uppercase">Avô da Fani</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end testimonial item -->
                                </div> 
                            </div>
                        </div>
                    </div>
            </div>
          </div>
        </section>
		
		
		<section class="position-relative overflow-visible p-0 main-section-container ">
            <div class="container-fluid">
                <div class="row">
                    
                    
					
					
					<div class="col-12 col-xl-7 col-lg-6 cover-background md-h-550px sm-h-400px xs-h-300px" style="background-image: url('images/img-manifesto.jpg');">
                      <a href="https://www.youtube.com/" class="popup-youtube absolute-middle-center video-icon-box video-icon-large">
                            <span>
                                <span class="video-icon bg-white box-shadow-extra-large">
                                    <i class="icon-simple-line-control-play text-gradient-green-3"></i>
                                </span>
                            </span>
                        </a>
                    </div>
					
					
					
					
					
                    <div class="col-12 col-xl-5 col-lg-6 bg-green-2 padding-6-rem-tb padding-five-lr xl-padding-six-all md-padding-ten-all sm-padding-ten-lr sm-padding-fifteen-tb wow animate__fadeIn div-texto-dox" id="quem-somos">
                      
                      <p class="text-large line-height-38px w-90 lg-w-100 md-w-80 sm-w-100 wow animate__fadeIn" data-wow-delay="0.4s">
						
						
						
                        <p>Dog pra gente é família, com nome, sobrenome, pais, dindos, avós, primos e tios.</p>
                        <p>Cada Dog tem a sua personalidade, as suas características e seu jeitinho próprio.</p>
                        <p>Uma casa com Dogs é uma casa diferente.
                          E mais feliz.</p>
                        <p>Uma rotina com Dogs é uma rotina diferente.
                          E mais divertida.</p>
                        <p>Uma vida com Dogs é uma vida diferente.
                          E com muito mais amor.</p>
                        <p>Não se trata apenas de comida.</p>
                        <p><strong>DOX é saúde!</strong></p>
                        <p>Para uma maior qualidade de vida e longevidade dos nossos amados filhos de 4 patas.</p>
                        <p><strong>Da nossa família para a sua. </strong></p>
                        
                    </div>
                        
                    </div>
                </div>
        </section>
		
		
		
		<section class="big-section bg-white position-relative main-section-container ">
            <div class="col-12 overflow-hidden alt-font font-weight-600 text-blue-3 text-overlap-style-03 letter-spacing-minus-3px d-none d-lg-block wow animate__fadeIn" data-wow-delay="0.9s">receitas</div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-xl-4 col-lg-4 col-md-8 position-relative md-margin-8-rem-bottom xs-margin-10-rem-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        <span class="alt-font font-weight-500 text-blue-2 text-uppercase margin-15px-bottom d-inline-block sm-margin-5px-bottom">RECEITAS</span>
                        <h5 class="alt-font font-weight-500 text-extra-dark-gray">Diversas opções de preparo para seu dog</h5>
                        <p class="w-85 margin-35px-bottom lg-w-100">Nossas receitas são feitas com ingredientes altamente selecionados, orgânicos, naturais e frescos. Nada de pesticidas ou algo parecido.</p>
                        <div class="swiper-button-next-nav swiper-button-next slider-navigation-style-03 white rounded-circle"><i class="feather icon-feather-arrow-right"></i></div>
                        <div class="swiper-button-previous-nav swiper-button-prev slider-navigation-style-03 white rounded-circle"><i class="feather icon-feather-arrow-left"></i></div>
                    </div>
                    <div class="col-12 col-lg-7 offset-xl-1 wow animate__fadeInRight" data-wow-delay="0.4s">
                        <div class="testimonials-carousel-style-01 swiper-simple-arrow-style-1">
                            <div class="swiper-container white-move" data-slider-options='{ "loop": true, "slidesPerView": 1, "spaceBetween": 40, "observer": true, "observeParents": true, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 } }, "effect": "slide" }'>
                                <div class="swiper-wrapper">
                                    <!-- start interactive banner item -->
                                    <div class="swiper-slide interactive-banners-style-07 border-radius-6px overflow-hidden">
                                        <div class="interactive-banners-box bg-extra-dark-gray">
                                            <div class="interactive-banners-box-image">
                                                <img src="images/receita-01.jpg" alt="" />
                                                <div class="overlay-bg bg-gradient-midium-dark-gray-transparent"></div>
                                            </div>
                                            <div class="fancy-text-content padding-55px-lr md-padding-40px-lr">
                                                <span class="text-extra-small alt-font text-white text-uppercase padding-5px-tb padding-15px-lr border-radius-2px bg-gradient-tan-geraldine-3 margin-25px-bottom font-weight-500 d-inline-block">Receita</span>
                                                <div class="alt-font font-weight-500 text-extra-large text-white margin-20px-bottom w-90">Assado com tomate, batata e arroz.</div>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-white margin-15px-top btn-round-edge-small">Leia Mais</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end interactive banner item -->
                                    <!-- start interactive banner item -->
                                    <div class="swiper-slide interactive-banners-style-07 border-radius-6px overflow-hidden">
                                        <div class="interactive-banners-box bg-extra-dark-gray">
                                            <div class="interactive-banners-box-image">
                                                <img src="images/receita-02.jpg" alt="" />
                                                <div class="overlay-bg bg-gradient-midium-dark-gray-transparent"></div>
                                            </div>
                                            <div class="fancy-text-content padding-55px-lr md-padding-40px-lr">
                                                <span class="text-extra-small alt-font text-white text-uppercase padding-5px-tb padding-15px-lr border-radius-2px bg-gradient-tan-geraldine-3 margin-25px-bottom font-weight-500 d-inline-block">Receita</span>
                                                <div class="alt-font font-weight-500 text-extra-large text-white margin-20px-bottom w-90">Aquela carne para seu dog ficar esperto.</div>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-white margin-15px-top btn-round-edge-small">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end interactive banner item -->
                                    <!-- start interactive banner item -->
                                    <div class="swiper-slide interactive-banners-style-07 border-radius-6px overflow-hidden">
                                        <div class="interactive-banners-box bg-extra-dark-gray">
                                            <div class="interactive-banners-box-image">
                                                <img src="images/receita-03.jpg" alt="" />
                                                <div class="overlay-bg bg-gradient-midium-dark-gray-transparent"></div>
                                            </div>
                                            <div class="fancy-text-content padding-55px-lr md-padding-40px-lr">
                                                <span class="text-extra-small alt-font text-white text-uppercase padding-5px-tb padding-15px-lr border-radius-2px bg-gradient-tan-geraldine-3 margin-25px-bottom font-weight-500 d-inline-block">Receita</span>
                                                <div class="alt-font font-weight-500 text-extra-large text-white margin-20px-bottom w-90">Legumes alimentam bem seu dog</div>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-white margin-15px-top btn-round-edge-small">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end interactive banner item -->
                                    <!-- start interactive banner item -->
                                    <div class="swiper-slide interactive-banners-style-07 border-radius-6px overflow-hidden">
                                        <div class="interactive-banners-box bg-extra-dark-gray">
                                            <div class="interactive-banners-box-image">
                                                <img src="images/receita-04.jpg" alt="" />
                                                <div class="overlay-bg bg-gradient-midium-dark-gray-transparent"></div>
                                            </div>
                                            <div class="fancy-text-content padding-55px-lr md-padding-40px-lr">
                                                <span class="text-extra-small alt-font text-white text-uppercase padding-5px-tb padding-15px-lr border-radius-2px bg-gradient-tan-geraldine-3 margin-25px-bottom font-weight-500 d-inline-block">Receita</span>
                                                <div class="alt-font font-weight-500 text-extra-large text-white margin-20px-bottom w-90">Seu dog de dieta não precisa passar fome</div>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-white margin-15px-top btn-round-edge-small">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end interactive banner item -->
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		
		
    <!-- start section --><!-- end section -->
        <!-- start section -->
        <!-- end section -->
        <!-- start section --><!-- end section -->
        <!-- start section --><!-- end section -->
        <!-- start section --><!-- end section -->
        <!-- start section --><!-- end section -->
        <!-- start section --><!-- end section -->
        <!-- start section --><!-- end section -->
        <!-- start footer -->

        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>
        <!-- end scroll to top -->
        <!-- javascript -->
        
