<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-sobre">Onde Estamos</h2>
        </div>
    </div>
</div>
<div class="container local">

        <div class="col-8  mapa-sobre-nos">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7385.727435685295!2d-42.521435!3d-22.245249!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x97f524ac102587%3A0x2ebc2015bc1ab6f7!2sAv.%20Nossa%20Sra.%20do%20Amparo%2C%203072%20-%20Ch%C3%A1cara%20Para%C3%ADso%2C%20Nova%20Friburgo%20-%20RJ%2C%20Brasil!5e0!3m2!1spt-BR!2sus!4v1589833052257!5m2!1spt-BR!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                       <div class="lojas"></div>
              
            </div>
            <div class="col-4">
                <h3 class="block-title main-heading">Localização</h3>
                <div class="article-container style-1">
                <h5>Endereço</h5>
                <p>Avenida Nossa Senhora do Amparo, 3072</p>
                <p>Jardim Ouro Preto</p>
                <p>Nova Friburgo RJ</p>
                <p>CEP: 28635010</p>
                </div>
            </div>
        
    </div>

</div>