<section class="page-default page-login">
    <div class="container">
        <div class="row" v-if="usuario.logado">
            <div class="col-sm-12">
                <p>Você já está logado na sua conta, boas compras! :)</p>
            </div>
        </div>
        <div v-else class="information-blocks tpl-login">
            <div class="row">
                <div class="col-sm-6 information-entry ">
                    <div class="login-box">
                        <div class="article-container style-1 form-header">
                            <h3>Login</h3>
                        </div>
                        <div class="form-body">
                            <a class="link exibirPopupRecuperarSenha" href="javascript:;" onclick="$('#modalResetSenha').modal('show')" title="Clique para recuperar sua conta"><i class="fa fa-question-circle" aria-hidden="true"></i> Esqueceu sua senha?</a>
                            <login></login>               
                          
                        </div>
   
                    </div>
                </div>
        
                <div class="col-sm-6 information-entry">
                    <div class="login-box ">
                        <div class="article-container style-1 form-header">
                            <h3>Cadastre-se</h3>
                            <small class="info-form">Campos Marcados com * são obrigatórios</small>
                        </div>
                        
                            <cadastroUsuario :usuario="usuario" ></cadastroUsuario>
                       
                        
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalResetSenha" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <resetSenha></resetSenha>
                    </div>
                  </div>
                </div>
            </div>  
        </div>
    </div>
</section>