<div class="section border-bottom-red">
    <div class="container">
        <div class="breadcrumb">
        <ul>
            <li>
                <a href="<?= $baseUrl;?>">&nbsp;Home </a></li>
                <li>&nbsp;Minha Conta</li>
        </ul>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="heading-page">
                <h1 class="title-vermelho">Minha Conta</h1>
            </div>
        </div>
    </div>
</div>
<section class="page-default minha-conta ">
    <div class="container page-content p-t-40 p-b-90 minha-conta-food">
        <div class="row" v-if="!usuario.logado">
            <div class="col-xs-12">
                <h2>Você não está logado. Acesso negado!</h2>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <aside class="menu-usuario"> 
                    <ul class="itens-menu-usuario p-l-10">
                        <li class="p-b-15 p-t-15"> <a href="<?= $baseUrl;?>/minha-conta" class="item-menu-usuario active"><i class="fa fa-user-o" aria-hidden="true"></i> Meus Dados</a></li>
                        <li class="p-b-15"> <a href="<?= $baseUrl;?>/meus-pedidos" class="item-menu-usuario"><i class="fa fa-map-marker" aria-hidden="true"></i> Histórico de Pedidos</a></li>
                        <li class="p-b-15"> <a href="#" @click="logout()" class="item-menu-usuario"><i class="fa fa-sign-out" aria-hidden="true"></i>Sair</a></li>
                    </ul>                            
                </aside>        
            </div>

            <div class="col-md-9 col-sm-12 col-xs-12">
                <h2 class="title-destaque short-line">Meus Dados</h2>
                <div class="login-box form-placehover">
                    <cadastroUsuario :usuario="usuario" :atualizar="true"></cadastroUsuario>
                </div>

                <br>
                <h2 class="title-destaque short-line">Endereço de Entrega</h2>
                <h3>Meus endereços Cadastrados</h3>
                <div class="container-fluid lista-endereco-cliente-food">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="item-endereco" v-for="(endereco, i) in usuario.enderecos">
                                <div class="pull-left">
                                    <h5 role="button" data-toggle="collapse" data-target="#endereco-1">
                                        {{endereco.endereco}}, {{endereco.numero}} {{endereco.complemento}}- CEP: {{endereco.cep}}
                                    </h5>
                                </div>
                                <div class="pull-right">
                                    <a class="btn-border-green " @click.stop.prevent="removerEndereco(i); "> Excluir</a>                            
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
               <template v-if="usuario.enderecos.length == 0">
                <h3>Cadastrar novo endereço</h3>
                <div class="login-box form-placehover">
                    <cadastroEndereco :usuario="usuario"></cadastroEndereco>
                </div>
               </template>

            </div>
        </div>
    </div>
</section>