<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-sobre">Nossas Marcas</h2>
        </div>
    </div>
</div>
<div class="container local">

    <div id="tpl-content"><div id="placeholder-0" class="">
        <div class="wrap" style="">
          <div id="instNossaHistoria">
              

              <div class="row">
                  <div class="col-12">
                    <h2 class="title-inner text-center">
                        <span>Distribuições de Varejo</span>
                        <!--<img src="img/imgLinhaTitulo.jpg" border="0">-->
                    </h2>
                    <banners tipo="marcas-varejo"></banners>
                  </div>
              </div>
              <div class="row" style="margin-bottom:10px;">
                <div class="col-12">
                    <h2 class="title-inner text-center">
                        <span>Food Service</span>
                       <!--<img src="img/imgLinhaTitulo.jpg" border="0">-->
                   </h2>
                   <banners tipo="marcas-food-service"></banners>
                </div>
                <br>
              </div>
              

          </div></div></div></div>
        
    </div>

</div>