<div class="container faq-page">
		<div class="p-t-70 p-b-40">
			<div class="heading-page-1">
				<h3>&nbsp;</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h3 style="color: #2871b6">Perguntas Frequentes</h3>
				<div class="panel-group" id="faqAccordion" style="color:#2871b6;">
					
					<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
						<h6 class="panel-title">
							<a  class="ing" style="font-weight:bold;"> <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Qual valor do pedido mínimo?</a>
						</h6>
					</div>
					<div id="question0" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body" style="color: #2871b6;">
							<p style="color:#2871b6;font-family: 'Poppins', sans-serif;font-weight:100;">
								Nosso pedido mínimo é de R$ 300,00.
							</p>
						</div>
					</div>

					<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
						<h6 class="panel-title">
							<a  class="ing" style="font-weight:bold;"> <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Qual é área de entrega?</a>
						</h6>
					</div>
					<div id="question1" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body" style="color: #2871b6;">
							<p style="color:#2871b6;font-family: 'Poppins', sans-serif;font-weight:100;">
								Distribuímos em todo estado do Rio de Janeiro, com frete gratuito e não realizamos retirada na distribuidora.
							</p>
						</div>
					</div>

					<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
						<h6 class="panel-title">
							<a  class="ing" style="font-weight:bold;"> <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Entregam em outro estado, além do Rio?</a>
						</h6>
					</div>
					<div id="question2" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body" style="color: #2871b6;">
							<p style="color:#2871b6;font-family: 'Poppins', sans-serif;font-weight:100;">
								Não, somente no estado do Rio de Janeiro.
							</p>
						</div>
					</div>

					<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
						<h6 class="panel-title">
							<a  class="ing" style="font-weight:bold;"> <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Qual prazo de entrega?</a>
						</h6>
					</div>
					<div id="question3" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body" style="color: #2871b6;">
							<p style="color:#2871b6;font-family: 'Poppins', sans-serif;font-weight:100;">
								O prazo de entrega é de até 72h <strong>após a confirmação do pagamento</strong>.<br>
								* O prazo de entrega pode variar de acordo com a disponibilidade de rota de entrega para região.<br>
								** As entregas em todas as localidades estão sujeitas a liberação de acordo com a análise logística.<br>
							</p>
						</div>
					</div>

					<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
						<h6 class="panel-title">
							<a  class="ing" style="font-weight:bold;"> <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Quais são as formas de pagamento?</a>
						</h6>
					</div>
					<div id="question4" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body" style="color: #2871b6;">
							<p style="color:#2871b6;font-family: 'Poppins', sans-serif;font-weight:100;">
								<u>Cartão de crédito: (Recomendada)</u><br>
								R$ 500,00 – 1x<br>
								À partir de R$ 1.000,00 – 2x<br>
								<br>
								À partir de R$ 1.500,00 – 3x sem juros<br>
								<br>
								Bandeiras aceitas: Mastercard, visa, Cielo<br>
								<u>Boleto Bancário à vista</u><br>
								*Compras no boleto serão liberadas após confirmação do pagamento em nosso sistema. Geralmente ocorre no dia seguinte após pagamento.<br>
							</p>
						</div>
					</div>

					<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
						<h6 class="panel-title">
							<a  class="ing" style="font-weight:bold;"> <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Atendem pessoa física?</a>
						</h6>
					</div>
					<div id="question5" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body" style="color: #2871b6;">
							<p style="color:#2871b6;font-family: 'Poppins', sans-serif;font-weight:100;">
								A empresa atende exclusivamente a CPNJ. Caso não seja PJ, indicamos o site: www.lojanovamix.com.br ou procure uma de nossas lojas físicas.
							</p>
						</div>
					</div>

					<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
						<h6 class="panel-title">
							<a  class="ing" style="font-weight:bold;"> <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Como rastreio meu pedido?</a>
						</h6>
					</div>
					<div id="question6" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body" style="color: #2871b6;">
							<p style="color:#2871b6;font-family: 'Poppins', sans-serif;font-weight:100;">
								<strong>Entenda as etapas do seu pedido:</strong><br>
								<br>
								<strong>Em processamento</strong> – Seu pedido está aguardando confirmação de pagamento ou liberação de crédito para ser liberado para separação.<br>
								<strong>Pedido em separação</strong> – Nesta etapa, seu pedido está sendo separado e embalado com toda atenção e em breve estará sendo enviado para você!<br>
								<strong>Em rota de entrega</strong> – Quase lá! Seu pedido está a caminho! Não vai estar no local? Pede para alguém receber para você e não se esqueça de conferir toda mercadoria.<br>
								<strong>Pedido entregue</strong> – Opa! Sua mercadoria chegou! Deu tudo certo? Por favor clique aqui e nos avalie!<br>
							</p>
						</div>
					</div>


					<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
						<h6 class="panel-title">
							<a  class="ing" style="font-weight:bold;"> <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Como usar o cupom de desconto?</a>
						</h6>
					</div>
					<div id="question7" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body" style="color: #2871b6;">
							<p style="color:#2871b6;font-family: 'Poppins', sans-serif;font-weight:100;">Após colocar os produtos no carrinho, antes de finalizar o pedido, inclua no campo “cupom” o nome do cupom disponível. </p>
						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="baseContactForm" style="color:#2871b6;">
					<contato></contato>
				</div>
			</div>
		</div>
		</div>