<div class="container faq-page">
	<div class="p-t-70 p-b-40">
		<div class="heading-page-1">
			<h3>&nbsp;</h3>
		</div>
	</div>
	<div class="row">
		<img src="images/politicas2.png" style="max-width:100%;display: block;margin:0 auto;">
	</div>
	<div class="row">
		<div class="container">
			<contato lugar="politica_troca"></contato>
		</div>
	</div>
	<div class="row">
		<img src="images/politica3.png" style="max-width:100%;display: block;margin:0 auto;">
	</div>
</div>