<breadcrumbProdutos :base_url="base_url"></breadcrumbProdutos>
<bannerTitulo :base_url="base_url"></bannerTitulo>

<section class="inner-page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <aside class="menu-cardapio" id="box-filter"> 
                    <div class="nav-item-filtro">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <i>Seções</i>
                    </div>
                    <buscaProdutosSidebar :base_url="base_url" :id_site="id_site"></buscaProdutosSidebar>
                    <listaSecoes :base_url="base_url" :id_site="id_site"></listaSecoes>
                   
                </aside>
                <aside class="menu-marcas" > 
                    <listaMarcas :base_url="base_url"></listaMarcas>     
                </aside>
              
                   
            </div>
            <div class="col-md-9 col-sm-12 espacamento">
                <listaProdutos :quantidade="18" :ignorar_estoque="1" :concatenar="true" :nao_rolar_pagina="true" qtd_mobile="2"></listaProdutos>
            </div>          
        </div>
    </div>
</section>