<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="heading-page">
				<h1  class="title-destaque">Receitas</h1>
			</div>
		</div>
	</div>
</div>

<section class="inner-page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <listaReceitas quantidade="100"></listaReceitas>
            </div>          
        </div>
    </div>
</section>