<template id="acompanhamento">
    <label :for="index+'-'+indexacompanhamento" class="row">
        <div  v-if="max_acompanhamentos==1" class="col-12">
        
            <input type="checkbox" v-model="quantidade" value="1" :name="index+'-'+indexacompanhamento" :id="index+'-'+indexacompanhamento" :disabled="restante<=0 && (!selecionado.includes('1x '+acompanhamento))">
             {{acompanhamento}}
        </div>
        <template v-else>
            <span class="col-6">
                {{acompanhamento}}
            </span>
            <span class="col-6">
                <div  class="seletor-quantidade">
                    <seletorQtd v-bind:step="1" v-model="quantidade" :max="restante+quantidade"></seletorQtd> 
                </div>
            </span>
        </template>


    </label>
</template>        