<template id="banners">
    <div v-if="tipo == 'slider-home-responsivo'" class="swiper-container swiper-container-slider">
        <div class="swiper-wrapper" >
            <div v-for="banner, index in banners" class="swiper-slide">
                <a :href="banner.link" class="full-link">
                    <picture><source class="" v-if="typeof bannersresponsivos[index]!='undefined'" :srcset="bannersresponsivos[index].imagem | imgBanner('png')" type="image/png" media="(max-width: 768px)">
                        <source class="lazyload swiper-lazy" :data-srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                        <source class="lazyload swiper-lazy" :data-srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                        <img :data-srcset="banner.imagem | imgBanner('png')" alt="Banner" class="lazyload swiper-lazy">
                    </picture>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-scrollbar"></div>
    </div>
    <div v-else-if="tipo == 'marcas'" class="swiper-container swiper-container-nossas-marcas">
        <div class="swiper-wrapper" >
            <div v-for="banner, index in banners" class="swiper-slide">
                    <a :href="banner.link" class="full-link">
              
                <picture>
                    <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                    <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                    <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                </picture>
              </a>
                
            </div>
        </div>
        <div class="swiper-button-prev">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></svg> -->
        </div>
        <div class="swiper-button-next">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></svg> -->
        </div>
  
    </div>
    <div v-else-if="tipo == 'marcas-varejo'" class="swiper-container swiper-container-nossas-marcas-varejo">
        <div class="swiper-wrapper" >
            <div v-for="banner, index in banners" class="swiper-slide">
                    <a :href="banner.link" class="full-link">
              
                <picture>
                    <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                    <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                    <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                </picture>
              </a>
                
            </div>
        </div>
        <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></svg>
        </div>
        <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></svg>
        </div>
  
    </div>
    <div v-else-if="tipo == 'marcas-food-service'" class="swiper-container swiper-container-nossas-marcas-food-service">
        <div class="swiper-wrapper" >
            <div v-for="banner, index in banners" class="swiper-slide">
                    <a :href="banner.link" class="full-link">
              
                <picture>
                    <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                    <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                    <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                </picture>
              
                </a>
            </div>
        </div>
        <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></svg>
        </div>
        <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></svg>
        </div>
  
    </div>
    <div v-else-if="tipo == 'produto-destaque'" class="row">
        <div v-for="banner in banners" class="col-md-12 col-lg-6">
            <div class="item">
                <a :href="banner.link">
                    <picture>
                        <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                        <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                        <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                    </picture>
              </a>
            </div>
          </div>
    </div>
    <div v-else-if="tipo == 'banners-estaticos'" class="container banners-estaticos">
        <div class="row">
            <div v-for="banner in banners" class="col-12 col-md-4 col-lg-4 " style="margin-top: 30px;">
                    <a :href="banner.link" v-if="banner.link">
                        <picture>
                            <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                            <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                            <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                        </picture>
                  </a>
                  <picture v-else>
                      <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                      <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                      <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                  </picture>
              </div>
        </div>
    </div>
    <div v-else-if="tipo == 'banners-mobile'" class="container banners-mobile">
        <div class="row">
            <div v-for="banner in banners" class="col-12 col-md-4 col-lg-4 " style="margin-top: 10px;">
                    <a :href="banner.link" v-if="banner.link">
                        <picture>
                            <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                            <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                            <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                        </picture>
                  </a>
                  <picture v-else>
                      <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                      <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                      <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                  </picture>
              </div>
        </div>
    </div>
    <div v-else-if="tipo == 'categoria-destaque'" class="swiper-container swiper-container-nossas-marcas">

        <div class="swiper-wrapper" >
            <div v-for="banner, index in banners" class="swiper-slide">
                <a :href="banner.link" class="full-link">
                    <div class="circulo">
                        <picture>
                            <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                            <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                            <img :srcset="banner.imagem | imgBanner('png')" alt="Banner" class="">
                        </picture>
                    </div>
                    <span class="title-cat-destaque">{{banner.titulo}}</span>
              </a>
                
            </div>
        </div>
        <div class="swiper-button-prev">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></svg> -->
        </div>
        <div class="swiper-button-next">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></svg> -->
        </div>
		<!-- <div class="swiper-container swiper-container-categoria-destaque swiper-container-slider" v-bind:class="{ carregando: (banners.length==0) }">
            <div class="swiper-wrapper">
                <div  v-for="banner in banners"  class="swiper-slide">
                    <a :href="banner.link" :title="banner.titulo">
                        <div class="circulo">
                            <picture>
                                <source class="" :srcset="banner.imagem | imgBanner('webp')" type="image/webp"/>
                                <source class="" :srcset="banner.imagem | imgBanner('png')" type="image/png"/>
                                <img :srcset="banner.imagem | imgBanner('png')" loading="lazy"/>
                            </picture>
                        </div>
                        <span>{{banner.titulo}}</span>
                    </a>
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev">
                
            </div>

            <div class="swiper-button-next" v-if="" id="limitar_click">
            </div>
        </div> -->
	</div>
    <div v-else-if="tipo == 'como-funciona'" class="swiper-container swiper-container-slider">
        <div class="swiper-wrapper" >
            <div v-for="banner, index in banners" class="swiper-slide">
             
                <a :href="banner.link" class="full-link">
                    <picture><source class="" v-if="typeof bannersresponsivos[index]!='undefined'" :srcset="bannersresponsivos[index].imagem | imgBanner('png')" type="image/png" media="(max-width: 768px)">
                        <source class="lazyload swiper-lazy" :data-srcset="banner.imagem | imgBanner('webp')" type="image/webp">
                        <source class="lazyload swiper-lazy" :data-srcset="banner.imagem | imgBanner('png')" type="image/png"> 
                        <img :data-srcset="banner.imagem | imgBanner('png')" alt="Banner" class="lazyload swiper-lazy">
                    </picture>
                </a>
                
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-scrollbar"></div>
    </div>
</template>