<template id="bannerTitulo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-page">
                    <h1  class="title-destaque">{{title}}</h1>
                </div>
            </div>
        </div>
    </div>

</template>