<template id="breadcrumb">
    <div class="section border-bottom-green">
        <div class="container">
            <div class="breadcrumb">
            <ul>
                <li>
                    <a :href="base_url">&nbsp;Home </a></li>
                    <li><a :href="base_url + '/produtos'">&nbsp;Produtos</a></li>
                    <li><a :href="secao">&nbsp;{{produto.nome_secao}} </a></li>
                    <li><a :href="categoria">&nbsp;{{produto.categoria}} </a></li>
                    <li>&nbsp;{{produto.nome_produto}} </li>
            </ul>
        </div>
    </div>
</div>
</template>  