<template id="breadcrumbProdutos">
    <div class="section border-bottom-green">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a :href="base_url">&nbsp;Home </a>
                        </li>
                        <li>
                            <a :href="base_url + '/produtos/'">&nbsp;Produtos </a>
                        </li>
                        <li v-for="item in breadcrumbs">{{item.nome}}</li>
                    </ul>
                </div>
            </div>
        </div>
</template>        