<template id="buscaProdutos">
    <form v-on:submit.prevent="buscar">
        <input type="text" placeholder="O que deseja encontrar?"  :value="q"   @input="e => q = e.target.value" v-on:keyup.13="buscar()" class="input-busca" autocomplete="off" @keyup="buscaProdutos()">
        <button class="btn-busca" @click="buscar()"> <i class="fa fa-search"></i></button>
        <ul class="typeahead dropdown-menu" role="listbox" v-if="produtos.length > 0" style="display:block;">
            <i @click="fecharBusca()" class="btn-fechar fa fa-times-circle" aria-hidden="true"></i>
            <li class="palavra"><a href="javascript:;"  @click="buscar()">{{q}}</a></li>
<!--             <li v-for="e in produtos" @click="selecionaProduto(e, index)">
              <a class="dropdown-item" href="javascript:;" role="option">
                <div class="col-md-2" >
                    <img :src="e.foto_produto | fotoProduto" class="media-object" style="max-width:40px!important; width: 40px">
                </div>
                <div class="col-md-10">
                    <div class="col-xs-9" style="overflow: hidden; text-overflow: ellipsis">
                        <strong><span class="fancy-autocomplete" style="text-transform: capitalize">{{e.nome_produto}}</span></strong>
                        <br>{{e.categoria}}
                    </div>
                    <div class="col-xs-3 hidden-xs" align="right" style="white-space: normal">
                        {{e.preco | money }}
                    </div>
                </div>						
              </a>
            </li> -->
            <li class="titulo">Produtos Sugeridos</li>
            <li v-for="produto in produtos">
                <div class="col-sm-6 col-lg-4">
                    <cardProduto :produto="produto"></cardProduto>
                </div>
            </li>
        </ul>
    </form>
</template>