<template id="buscaProdutosSidebar">
    <div class="search-widget-1">
        <form id="form-busca" class="search-form" onsubmit="return false">                    
            <div class="input-group">
                <input type="text"  placeholder="Buscar produto... " v-model="q" v-on:keyup.13="buscarSidebar()" class="input-busca" autocomplete="off">
                <button class="btn-busca" @click="buscarSidebar()"> <i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</template>