<template id="buscaProdutos">
        <form autocomplete="off" v-on:submit.prevent="buscar" id="form-busca">
                <input class="input-busca" type="text" v-model="q" v-on:keyup.13="buscar()" placeholder="Procure seu produto aqui..." @keyup="loadTypeahead()">
                <button><i class="fa fa-search"></i></button>
            </form>
</template>