<template id="cadastroEndereco">
    <form autocomplete="off" v-on:submit.prevent="validar">
        <label for="cep">CEP *</label>
        <input class="simple-field" type="text" name="cep" v-on:keyup="buscarCEP" v-model="cep" required="" maxlength="9">
        

        <label for="rua">Rua/Av *</label>
        <input class="simple-field" type="text" name="rua" v-model="endereco" required="" maxlength="200">
        

        <label for="numero">Número *</label>
        <input class="simple-field" type="number" name="numero" v-model="numero" required="">
        

        <label for="complemento">Complemento</label>
        <input class="simple-field" type="text" name="complemento" v-model="complemento" maxlength="20">
        
                
        <label for="bairro">Bairro *</label>
        <input class="simple-field" type="text" name="bairro" v-model="bairro" required="" maxlength="40">
        
        <label for="cidade">Cidade *</label>
  
        <select name="cidade" class="simple-field" v-model="cidade" >
            <option value="">Selecione</option>
            <option v-for="item_cidade in cidades" :value="item_cidade.nome">{{item_cidade.nome}}</option>
        </select>
        
        <label for="estado">Estado *</label>
        <select name="uf" class="simple-field" v-model="uf" @change="selecionaEstado($event)">
            <option value="">Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MT">Mato Grosso</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>

            <div class="button style-10" v-if="!carregando">
                Cadastrar Endereço  <input type="submit" value="Cadastrar" class="btn-submit " />
            </div>          
            <button class="button style-10" disabled v-else>Aguarde...</button>        

    </form>
</template>