<template id="cadastroUsuario">    
    <form v-on:submit.prevent="cadastrar">   
        <div class="form-body">
        <div class="row">
            <div class="col-12">
                <label>Nome Completo</label>
                <input class="simple-field" type="text" required="" v-model="nome" placeholder="Informe seu Nome Completo" value="" maxlength="80">
            </div>
            <div class="col-12">
                <label>CPF</label>
                <input class="simple-field mask_cnpj" type="text" required="" v-model="cpf" placeholder="Informe CPF" value="">
            </div>
            <div class="col-12">
                <label>E-mail*</label>
                <input class="simple-field" type="email" required="" v-model="email" placeholder="Informe seu e-mail" value=""> 
            </div>

            <div class="col-12">
                <label>Telefone*</label>
                <input class="simple-field mask_phone" type="text"  v-model="telefone" required="" placeholder="Informe seu telefone" value="" maxlength="15">
            </div>

            <!--<label>Data de nascimento</label>
            <input class="simple-field mask_dn" type="text"  v-model="data_nascimento" required="" placeholder="Informe de data de nascimento" value="" maxlength="10">         
            -->
            <div class="col-12 col-md-6">
                <label>Senha*</label>
                <input class="simple-field" type="password" v-model="senha" required="" placeholder="Informe sua senha" value="">
            </div>
            <div class="col-12 col-md-6">
                <label>Confirme sua senha*</label>
                <input class="simple-field" type="password" required="" v-model="confirmaSenha" placeholder="Confirme sua senha" value="">      
            </div>
        </div>
        </div>  
        <div class="form-footer">
            <input type="submit" :value="(!atualizar) ? 'Continuar' : 'Atualizar'" :disabled="carregando" class="btn-submit" />
        </div>
    </form>
</template>