<template id="cadastroEmpresa">
    <form v-on:submit.prevent="atualizarUsuario">
        <div class="row">
            <div class="col-sm-6 information-entry">
                <div class="login-box">
                    <div class="article-container style-1 form-header">
                        <h3>Complete seu Cadastro</h3>
                        <small class="info-form">Campos Marcados com * são obrigatórios</small>
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <label>Nome Fantasia*</label>
                                <input class="simple-field" type="text" required="" v-model="nome" placeholder="Informe Nome Fantasia" value="">
                            </div>
                            <div class="col-12">
                                <label>CNPJ*</label>
                                <input class="simple-field mask_cnpj" type="text" required="" v-model="cnpj" placeholder="Informe CNPJ" value="">
                            </div>
                            <div class="col-12 base_label">
                                <label>Inscrição Estadual</label>
                                <input class="simple-field insc_estadual_field" type="text"  v-model="inscricao_estadual" placeholder="Inscrição Estadual"  value="">
                               <label class="labelinside" for="insc_estadual_insento"><input type="checkbox"  id="insc_estadual_insento" @change="checkInscricao($event)" value="isento" name="insc_estadual"> Isento</label>
                                
                            </div>
                            <div class="col-12">
                                <label>Razão Social</label>
                                <input class="simple-field" type="text" required="" v-model="razao_social" placeholder="Informe Razão Social" value="">
                            </div>

                            <div class="col-12">
                                <label>Inscrição Municipal</label>
                                <input class="simple-field" type="text" v-model="inscricao_municipal" placeholder="Inscrição Municipal" value="">
                            </div>
                            <div class="col-12">
                                <label>Telefone</label>
                                <input class="simple-field mask_phone" type="text" required="" v-model="telefone" placeholder="Telefone" value="">
                            </div>
                            <div class="col-12">
                                <label>WhatsApp</label>
                                <input class="simple-field mask_phone" type="text" required="" v-model="telefone_2" placeholder="WhatsApp" value="">
                            </div>

                            <div class="col-12">
                                <label for="segmento">Segmento </label>
                                <select name="segmento" v-model="segmento" class="simple-field" >
                                    <option value="">Selecione</option>
                                    <option value="Supermercado">Supermercado</option>
                                    <option value="Padaria | Confeitaria">Padaria | Confeitaria</option>
                                    <option value="Sorveteria | Loja de Açaí">Sorveteria | Loja de Açaí</option>
                                    <option value="Pizzaria">Pizzaria</option>
                                    <option value="Restaurante | Buffet">Restaurante | Buffet</option>
                                    <option value="Loja de Festa | Descartáveis">Loja de Festa | Descartáveis</option>
                                    <option value="Hotel | Pousada">Hotel | Pousada</option>
                                    <option value="Cesta Básica">Cesta Básica</option>
                                    <option value="Outros">Outros</option>
                                    
                                </select>
                            </div>
                            <div class="col-12">
                                <label>Responsável por Compras*</label>
                                <input class="simple-field" type="text" required="" v-model="nome_responsavel" placeholder="Nome do Responsável" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 information-entry">
                <div class="login-box">
                    <div class="article-container style-1 form-header">
                        <h3>Endereço fiscal</h3>
                        
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="cep">Digite primeiro o CEP*</label>
                                <input class="simple-field" type="text" name="cep" v-on:keyup="buscarCEP" v-model="endereco.cep" required="" maxlength="9">
                            </div>
                            <div class="col-7">
                                <label for="cidade">Cidade*</label>
                      
                                <select name="cidade" class="simple-field" v-model="endereco.cidade" >
                                    <option value="">Selecione</option>
                                    <option v-for="item_cidade in cidades" :value="item_cidade.nome">{{item_cidade.nome}}</option>
                                </select>
                            </div>   
                            <div class="col-5">
                                <label for="estado">Estado*</label>
                                <select name="uf" class="simple-field" v-model="endereco.uf" @change="selecionaEstado($event)">
                                    <option value="">Selecione</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espirito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                            <div class="col-7">
                                <label for="rua">Endereço*</label>
                                <input class="simple-field" type="text" name="rua" v-model="endereco.endereco" required="" maxlength="200">
                            </div>
                            <div class="col-5">
                                <label for="numero">Número*</label>
                                <input class="simple-field" type="number" name="numero" v-model="endereco.numero" required="">
                            </div>
                            <div class="col-7">
                                <label for="bairro">Bairro</label>
                                <input class="simple-field" type="text" name="bairro" v-model="endereco.bairro" required="" maxlength="40">
                            </div>
                            <div class="col-5">
                                <label for="complemento">Complemento</label>
                                <input class="simple-field" type="text" name="complemento" v-model="endereco.complemento" maxlength="20">
                            </div>

                            <div class="col-6">
                                <label for="referencia">Ponto de Referência</label>
                                <input class="simple-field" type="text" name="referencia" v-model="endereco.referencia" required="" maxlength="40">
                            </div>

                            <div class="col-6">
                                <label for="estado">Horário para Recebimento </label>
                                <select name="horario" v-model="endereco.horario" class="simple-field" >
                                    <option value="">Selecione</option>
                                    <option value="Seg a Sexta 6h as 18H">Seg a Sexta 6h as 18H</option>
                                    <option value="Seg a Sexta após 16h">Seg a Sexta após 16h</option>
                                </select>
                                <label class="labeldown" for="entrega_sabado">
                                    <input type="checkbox" id="entrega_sabado" v-model="endereco.recebe_sabado" name="entrega_sabado"> Recebe entregas ao Sábados?</label>
                                
                            </div>
                            <div class="col-12" v-if="endereco.recebe_sabado">
                                <label for="estado">Horário para Recebimento no Sábado </label>
                                <select name="horario" v-model="endereco.horario_sabado" class="simple-field" >
                                    <option value="">Selecione</option>
                                    <option value="Sábado de 6:00h as 18h">Sábado de 6:00h as 18h</option>
                                    <option value="Sábado após 16h">Sábado após 16h</option>
                                    
                                    
                                </select>
                                
                            </div>
                            <div class="col-12">
                                <label for="estado">Informações adicionais ou restrições para entrega</label>
                                <textarea name="" id="" v-model="endereco.obs" class="simple-field" rows="5"></textarea>
                            </div>
        
                        </div>
                    </div>
                    <div class="form-footer">
                        <input type="submit" :value="(!atualizar) ? 'Continuar' : 'Atualizar'" :disabled="carregando" class="btn-submit" />
                    </div>
                </div>
            </div>
        </div>
</template>    