<template id="carrinho">
    <section :class="(carrinho.open) ? 'shopping-cart open' : 'shopping-cart'" >
        <div class="loading" v-if="carrinho.carregando">
            <p> <i class="fa fa-spinner" aria-hidden="true"></i>
                Atualizando Carrinho!</p>
        </div>
        <section class="shopping-cart-header"> 
            <!--<input id="fecharCarrinho" @change="fecharCarrinho" @input="fecharCarrinho" > -->
            <p class="cart-title">Carrinho</p>
            <i id="fecharCarrinho" class="fa fa-times close-btn" aria-hidden="true" @click="closeCart();"></i>
        </section>
            <section class="shopping-cart-body ">
                <div v-if="carrinho.produtos.length == 0">
                    <p class="empty-message">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <br>
                        Você ainda não adicionou nada em seu carrinho.</p>
                </div>
                <div v-else>

                    <ul class="products-list">
                        <li v-for="(produto,indice) in carrinho.produtos" class="products-list-item">
                                <a href="javascript:;" class="remover-produto" @click="removerProduto(indice)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <div class="product-image">
                                    <fotoProduto :produto="produto" :tamanho="1"></fotoProduto>
                                </div>
                                <div class="product-info">
                                    <a  class="titulo">
                                        <p class="product-name mb-2">{{produto.quantidade}} x {{produto.nome_produto}}  <small v-if="produto.personalizado=='1'">{{produto.descricao}}</small></p>
                                    </a>
                                    <div class="seletor-quantidade ml-2">
                                        <seletorQtd :origin="'carrinho'" v-bind:step="1" v-model="produto.quantidade" v-bind:value="produto.quantidade" :max="getEstoque(produto)"></seletorQtd>
                                    </div>
                                    <p class="preco">{{produto.preco | money}}</p>
                                </div>
                            
                        </li>
                    </ul>
                </div>
            </section>
            <div v-if="carrinho.produtos.length > 0" class="values-box">
                <section class="shopping-cart-footer" v-if="carrinho.produtos.length > 0">
        
                        <p class="price-cart">Subtotal<span class="price__value js-cart-value">{{carrinho.subtotal | money}}</span></p>
                            <!--<p class="price price-discount">Descontos<span class="discount-value">-R$ 0,00</span></p>
                            <p class="price price-total">Total<span class="price-value">{{carrinho.valor_total | money}}</span></p> -->
                            <!-- <button class="btn-border-yellow" @click="salvarCarrinho()">Atualizar carrinho</button> -->
                            <button class="btn-border-yellow" @click="closeCart()">CONTINUAR COMPRANDO</button>
                        <a v-if="usuario.logado" :href="base_url + '/checkout'" class="btn-green">Finalizar compra</a>
                        <a v-else :href="base_url + '/login'" class="btn-green">Finalizar compra</a>
                </section>
            </div>
    </section>
</template>