<template id="checkout" >
    <div class="overflow-hidden" style="background-image: url(images/bg-checkout.jpg); min-width: 100vw; min-height: 100%; overflow-x: hidden !important;">
    <div class="container my-5 overflow-hidden" v-if="usuario.logado" >
        <div class="row">
            <!-- <div class="col-sm-12">
                <div class="heading-page">
                    <h2 class="title-vermelho text-danger text-center">Meu Carrinho</h2>
                </div>
            </div> -->
        </div>
        
        <div v-if="carrinho.produtos.length > 0 && (usuario=='undefined' || typeof usuario.bloqueado=='undefined' || usuario.bloqueado===0)">
            <!-- <div class="breadcrumbBox text-center checkout-section row">
                <ol class="breadcrumb">
                    <li class="active"><a href="#revisao">Revisão</a></li>
                    <li><a class="goTo" href="#envio" id="goToEnvio">Modalidade de Envio</a></li>
                    <li><a class="goTo" href="#endereco" id="goToEnd">Endereço de Entrega</a></li>
                    <li><a class="goTo" href="#pagamento" id="goToPagamento">Pagamento</a></li>
                    <li class="hidden"><a class="goTo" href="#pagamento" id="goToEntrega">Pagamento</a></li>
                </ol>
            </div> -->
            <div class="row checkout-section" id="revisao">
                <div class="col-md-12 col-sm-12">
                    <h2>Seu Carrinho de Compras</h2>
                    <p>
                        Verifique sua compra:
                    </p>
                </div>
                
                <div class="col-md-12 col-sm-12 text-left">
                    <ul class="resumo-carrinho list-unstyled">
                        
                        <li class="row-produto" v-for="(produto,indice) in carrinho.produtos">
                            <span class="itemName">
                                <fotoProduto :produto="produto" :tamanho="2"></fotoProduto>
                                {{produto.nome_produto}}
                                <small v-if="produto.is_combo" style="white-space: pre"><br>{{produto.descricao}}</small>
                                <small v-if="produto.preco_uni > 0" style="display:block !important;">{{produto.preco_uni | money}} 
                                    {{produto.unidade == "CAIXA" || produto.unidade == "FARDO" ? 'UNIDADE' : produto.unidade}}</small>
                                <small v-if="produto.desc_embalagem" style="white-space: pre">{{produto.desc_embalagem}}</small> <small v-if="produto.embalagem"> - {{produto.embalagem.replace(',00', '')}}</small>
                            </span>
                            <span class="price-item-unitario">
                                <p v-if="produto.preco_de !='' && produto.preco_de > 0 && produto.preco > produto.preco_de" class="preco_de">de <strike>{{produto.preco | money}}</strike></p>
                                <p class="">
                                    Por {{produto.preco | money}}
                                </p> 
                            </span>
                            <span class="quantity">
                                <seletorQtd  v-bind:step="1" v-model="produto.quantidade" v-bind:value="produto.quantidade" origin="carrinho"></seletorQtd>
                            </span>
                            <span class="price-item">
                                {{produto.total | money}}
                            </span>
                            
                            <span class="popbtn">
                                <a href="javascript:;" class="remover-produto" @click="removerProduto(indice)"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </span>
                        </li>
                        <li class="totals">
                            <span class="itemName">Total:</span>
                            <span class="price-item">{{carrinho.subtotal | money}}</span>
                            <span class="order"> <a class="text-center goTo" href="#endereco">Ir para entrega</a></span>
                        </li>
                        
                    </ul>
                    <a class="escolher-mais" :href="base_url">Escolher mais produtos </a>
                </div>
            </div>
                
            <!-- The popover content -->
            <!-- <div class="row checkout-section">
                < <div class="col-md-6 col-sm-12">
                    <h2>Frete</h2>
                    <p>Selecione uma das opções abaixo:</p>
                    <label for="delivery"> 
                        <input type="radio" name="frete" id="delivery" value="Delivery" v-model="carrinho.forma_entrega" @click="calcularFrete()">
                        Entregar no meu endereço
                    </label>
                    <br>
                    <p v-if="carrinho.valor_frete > 0">
                        Valor do Frete: {{carrinho.valor_frete | money}}
                    </p>
                    
                </div> 
                <div class="col-md-6 col-sm-12">
                    <h2>Cupom de desconto</h2>
                    <p>Se você possui um cupom de desconto, insira-o abaixo:</p>
                    <cupom></cupom>
                    
                </div>  
            </div>    -->
            
            
            
            <div class="row checkout-section" id="endereco" v-if="carrinho.forma_entrega == 'Delivery'">
               <!-- <div class="col-12">
                    <h2>Endereço de Entrega</h2>
               </div>  -->
                <div class="col-md-6 col-sm-12">
                    <h2 v-if="usuario.enderecos.length > 0">Confirmar informações de faturamento: </h2>
                    <h2 v-else>Cadastre um endereço no formulário ao lado.</h2>
                    <p v-for="(endereco, i) in usuario.enderecos">
                        <label :for="'end_' + i">
                            <a href="javascript:;" class="remover-endereco" @click.prevent="removerEndereco(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            <input type="radio" name="endereco_entrega" :id="'end_' + i" v-model="carrinho.endereco_entrega" v-bind:value="endereco" @click="calcularFrete()">
                            {{endereco.endereco}}, {{endereco.numero}}  {{endereco.complemento}}<br>
                            {{endereco.bairro}} <br>
                            {{endereco.cidade}} {{endereco.uf}}
                           
                        </label>
                    </p>
                    <p><a class="btn-checkout goTo" href="#pagamento">Ir para pagamento</a></p>
                    
                    
                    
                </div>
                <div  v-if="usuario.enderecos.length == 0" class="col-md-5 col-sm-12 text-left">
                    <button class="btn-endereco btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Cadastrar Novo Endereço
                    </button>
                
                    <div class="collapse" id="collapseExample">
                                <h4>&nbsp;</h4>
                                <div class="alert alert-warning" role="alert">
                                  <i class="fa fa-info-circle" aria-hidden="true"></i> Endereço deve ser o mesmo do registro no CNPJ - As entregas serão realizadas somente nesta localidade
                                </div>
                                <div class="row">
                                    <cadastroEndereco :usuario="usuario"></cadastroEndereco>
                                </div>
                    </div>
                </div>
               
            </div>
            
            <input type="hidden" v-model="carrinho.forma_pagamento">
            <div class="row checkout-section" id="pagamento">
                <div class="col-md-6 col-sm-12">
                    <h2>Pagamento</h2>
                   
                        <p>Selecione uma das opções abaixo:</p>
                        <label for="maxipago" v-if="!usuario.pagamentos_permitidos || (typeof usuario.pagamentos_permitidos.maxipago=='undefined' || usuario.pagamentos_permitidos.maxipago===true )">
                            <input type="radio" name="forma_pagamento" id="maxipago" value="Tradepay" v-model="carrinho.forma_pagamento">
                            Cartão de Crédito (Recomendado)
                        </label>                
                        <label for="boleto" v-if="carrinho.subtotal < 10000 && (!usuario.pagamentos_permitidos || (typeof usuario.pagamentos_permitidos.boleto=='undefined' || usuario.pagamentos_permitidos.boleto===true ))"> 
                            <input type="radio" name="forma_pagamento" id="boleto" value="Tradepay Boleto" v-model="carrinho.forma_pagamento">
                            Boleto Antecipado
                        </label>
                        <label for="pix" v-if="usuario.pagamentos_permitidos && (typeof usuario.pagamentos_permitidos.pix && usuario.pagamentos_permitidos.pix===true )">
                            <input type="radio" name="forma_pagamento" id="pix" value="Pix" v-model="carrinho.forma_pagamento" @click="descontoPagamento(0)">
                            Pix
                        </label>
                        <label for="faturado" v-if="usuario.pagamentos_permitidos && (typeof usuario.pagamentos_permitidos.faturado && usuario.pagamentos_permitidos.faturado===true )">
                            <input type="radio" name="forma_pagamento" id="faturado" value="Faturado" v-model="carrinho.forma_pagamento">
                            Faturado 
                            
                              <span class="badge badge-info" data-toggle="tooltip" @mouseover="mostrarTooltip()" title="Opção de pagamento disponível somente para clientes já cadastrados e com limite de crédito disponível para faturamento"><i class="fa fa-question"></i></span>
                         
                        </label>

                        <div v-if="carrinho.forma_pagamento == 'Tradepay Boleto'">
                            <div class="form-group">
                                <label><span class="text-danger">*</span> CPF: </label> 
                                <input name="cpf" required="required" v-model="cpf" class="simple-field"> <br>
                                <p>"O pagamento deste boleto pode demorar até 72 horas após o pagamento. O pedido será liberado para expedição após compensação do mesmo em nosso sistema.</p>
                                <p>O Boleto bancário será exibido após a confirmação de compra e poderá ser impresso para pagamento em qualquer agência bancária, ou ter o número anotado para pagamento pelo telefone ou internet</p>
                                <small>Pedido cancelado automaticamente após 3 dias de vencimento</small>
                            </div> 
                        </div>
                    <div v-if="carrinho.forma_pagamento == 'Pix'">
                        <div class="form-group">
                            <p>O codigo do PIX e QRCode serão exibidos após a confirmação de compra e poderá ser impresso para pagamento em qualquer terminal bancário, ou ter o número anotado para pagamento pelo telefone ou internet.</p>
                        </div>
                    </div>
                        <div class="certificado">
                            <img src="images/site-seguro.png" alt="Site Seguro">
                        </div>
                    </div>
                    <div class="cartao-form col-md-6 col-sm-12" v-if="carrinho.forma_pagamento == 'Tradepay'">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label><span class="text-danger">*</span> Número do cartão: <span class="bandeira-desc" v-if="bandeira">({{bandeira}})</span>  </label> 
                            <input name="number" required="required" v-model="cartao.number" class="simple-field" @keyup="buscaBandeira(cartao.number)">
                        </div> 
                        <div class="form-group col-sm-12">
                            <label><span class="text-danger">*</span>Nome como está no cartão:</label>
                            <input name="name" required="required" class="simple-field" v-model="cartao.name">
                        </div> 
                        <div class="form-group col-sm-4">
                            <label><span class="text-danger">*</span> Mês Expiração:   </label> 
                            <select name="expMonth" required="required" class="simple-field" v-model="cartao.expMonth">
                                <option value="01">01</option> 
                                <option value="02">02</option> 
                                <option value="03">03</option> 
                                <option value="04">04</option> 
                                <option value="05">05</option> 
                                <option value="06">06</option> 
                                <option value="07">07</option> 
                                <option value="08">08</option> 
                                <option value="09">09</option> 
                                <option value="10">10</option> 
                                <option value="11">11</option> 
                                <option value="12">12</option>
                            </select>
                        </div> 
                        <div class="form-group col-sm-4">
                            <label><span class="text-danger">*</span> Ano Expiração:  </label> 
                            <select name="expYear" required="required" class="simple-field" v-model="cartao.expYear">
                                <option value="2021">2021</option> 
                                <option value="2022">2022</option> 
                                <option value="2023">2023</option> 
                                <option value="2024">2024</option> 
                                <option value="2025">2025</option> 
                                <option value="2026">2026</option> 
                                <option value="2027">2027</option> 
                                <option value="2028">2028</option> 
                                <option value="2029">2029</option> 
                                <option value="2030">2030</option> 
                                <option value="2031">2031</option> 
                                <option value="2031">2032</option> 
                                <option value="2031">2033</option>
                            </select>
                        </div> 
                        <div class="form-group col-sm-4">
                            <label>
                                <span class="text-danger">*</span>CVV:
                                <span class="badge badge-info" data-toggle="tooltip" @mouseover="mostrarTooltip()" title="É o código de segurança localizado no verso do seu cartão"><i class="fa fa-question"></i></span>
                            </label> 
                            <input name="cvvNumber" required="required" class="simple-field" v-model="cartao.cvvNumber">
                        </div> 

                        <div class="form-group col-sm-12" v-if="parcelas.length > 0">
                            <label><span class="text-danger">*</span>Parcelamento</label> 
                            <select name="expYear" required="required" class="simple-field" v-model="cartao.parcelamento" >
                             
                                <option v-bind:value="p" v-for="p in parcelas" :selected="p.numeroParcela == 1">
                                    {{p.numeroParcela}}x parcelas de {{p.valorParcela | money}}
                                </option>
                            </select>
                        </div> 
                        <div class="form-group col-12">
                            <span class="text-danger">* Campos obrigatórios</span> 
                        </div>

                    </div>
                </div>           
                    
            </div>
            
            <div class="row checkout-section" id="finalizar-compra">
                <h2>Finalizar Compra  </h2></i>
                <div class="col-md-12 col-sm-12">
                    <p v-if="usuario.cnpj">CNPJ: <strong>{{usuario.cnpj}}</strong></p>
                    <p v-if="usuario.inscricao_estadual">Inscrição Estadual: <strong>{{usuario.inscricao_estadual}}</strong></p>
                    <p v-if="usuario.razao_social">Razão Social: <strong>{{usuario.razao_social}}</strong></p>

                    <p v-if="typeof carrinho!='undefined' && carrinho.endereco_entrega"><strong>Endereço: </strong>
                        {{carrinho.endereco_entrega.endereco}}, {{carrinho.endereco_entrega.numero}}  {{carrinho.endereco_entrega.complemento}}<br>
                            {{carrinho.endereco_entrega.bairro}} <br>
                            {{carrinho.endereco_entrega.cidade}} {{carrinho.endereco_entrega.uf}}
                    </p>
                    <div class="p-md-4 p-sm-0 mt-2">
                        <ul style="margin: 0; padding: 0">
                            <li class="row row-produto">
                                <strong class="text-muted"> Subtotal:&nbsp;</strong><strong class="texto-roxo">{{carrinho.subtotal | money}}</strong>
                            </li>
                            <li class="row row-produto">
                                <strong class="text-muted">Entrega:&nbsp;</strong>
                                <strong class="texto-roxo">
                                    <template v-if="carrinho.valor_frete == 0"> R$ 0 - Entrega Grátis</template>
                                    <template v-else>{{carrinho.valor_frete | money}}</template>
                                </strong>
                            </li>
                            <li class="row row-produto">
                                <strong class="text-muted">Cupom de Desconto:&nbsp;</strong>
                                <strong class="texto-roxo">{{carrinho.descontos | money}}</strong>
                            </li>
                            <li class="row row-produto" v-if="carrinho.forma_pagamento == 'Pix'">
                                <strong class="text-muted">Desconto no Pix:&nbsp;</strong>
                                <strong class="texto-roxo">{{carrinho.desconto_pagamento | money}}</strong>
                            </li>
                            <li class="row row-produto">
                                <strong class="text-muted">Total:&nbsp;<div class="destaque-total">{{carrinho.valor_total | money}} </div></strong>
                            </li>
                        </ul>
                        <div class="alert alert-warning" role="alert">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> O prazo de 72h é válido após o pedido ser faturado, podendo variar dependendo da sua localização.
                          </div>
                     
                     
                        <div class="row justify-content-center text-center flex-wrap">
                            <button @click="checkout()" class="d-block col-12 col-md-3" v-if="!carregando">Realizar Pedido <i class="fa fa-lock fa-1x ml-2 mt-1"></i></button>
                            <a class="col-12 mt-3" :href="base_url">Escolher mais produtos </a>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row checkout-section" v-else>
            <div class="col-12 text-center">
                <h2>Seu Carrinho de Compras está vazio!</h2>
                <p>
                    <a :href="base_url">Clique aqui para voltar as compras :)</a>
                </p>
            </div> 
        </div>         
    </div>
    </div>
    <div v-else class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <br>
                <br>
                <h4><a :href="base_url + '/login'" >Você não está logado! Clique aqui para fazer login.</a></h4>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</template>