<template id="comboProduto">
    <!-- Modal -->
    <div class="modal fade modal-combo" :id="'combos-'+produto.id_produto" tabindex="-1" role="dialog" aria-labelledby="CompreJunto">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CompreJunto">Compre <strong>Junto</strong></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            
            </div>
            <div class="modal-body">
                <section class="produto-detalhe-info" id="compre-junto" v-if="produto.combos">
                            <template v-for="combo in produto.combos">
                            <div class="row box-combo">
                                    <div class="col-sm-12 col-xs-12">
                                            <h2 v-if="combo.titulo_destaque!=''">{{combo.titulo_destaque}}</h2>
                                            <h2 v-else>Compre <strong>Junto</strong></h2>
                                    </div>
                                    <template v-for="(item_combo, index) in combo.itens">
                                        
                                    <div :class="['col-xs-12 item-combo', {'last' : index == (combo.itens.length-1)}, {'col-sm-6' : combo.itens.length == 1}, {'col-sm-4' : combo.itens.length > 1}]">
                                    
                                        <div class="produto-card">
                                            
                                            <div class="produto-imagem">
                                                <a :href="item_combo | linkProduto">
                                                    <fotoProduto :produto="item_combo" :tamanho="2"></fotoProduto>
                                                </a>
                                            </div>
                                            <div class="produto-desc">
                                                <a :href="item_combo | linkProduto" class="titulo" :title="item_combo.nome_produto"> <strong>{{item_combo.quantidade}} x </strong>{{item_combo.nome_produto.substring(0,50)}}</a> 
                                                <p class="preco-de">de <strike>{{item_combo.preco_de | money}}</strike> por</p>
                                                <p class="preco">{{item_combo.preco | money}}</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    </template>
        
        
        
                                    <div :class="['col-xs-12 resumo-valor-combo',{'col-sm-6' : combo.itens.length == 1}, {'col-sm-12' : combo.itens.length > 1}]">
                                        <p>Compre os <strong>{{combo.itens.length + 1}}</strong> produtos juntos por</p>
                                        <p class="valor-combo" v-if="produto.preco_de && produto.preco_de > 0">{{parseFloat(combo.total) + produto.preco_de | money}}</p>
                                        <p class="valor-combo" v-else>{{parseFloat(combo.total) + produto.preco | money}}</p>
                                        <button @click="addComboCarrinho(combo)" class="btn btn-add-carrinho"><i class="fa fa-shopping-cart"></i> Comprar Junto</button>
                                    </div>
                    
                                </div>
                            </template>
                    </section>
            </div>
            <div class="modal-footer">
                    <a class="btn btn-add-carrinho btn-nao-quero" @click="addProdutoCarrinho(produto)" href="javascript:;" title="Adicionar ao carrinho">
                            <i class="fa fa-shopping-cart"></i> <span>Não quero o combo!</span>
                    </a>
            </div>
        </div>
        </div>
    </div>
    </template>        