<template id="contato">
    <form v-if="lugar == 'politica_troca'" id="form-contato" autocomplete="off" v-on:submit.prevent="cadastrar" class="contato"> 
        <!-- <h3 class="block-title main-heading">Como podemos te ajudar?</h3> -->
        <div class="row collapse tpl-alert">
            <div class="col-md-12"><div class="alert"></div></div>
        </div>              
        <div class="row">
            <div class="col-sm-12 linha-form-contato">
                <label>Nome da empresa<span>*</span></label>
                <input class="simple-field" type="text" name="nome" placeholder="Informe o nome (obrigatório)" required="" value="" v-model="nome_empresa">
                <div class="clear"></div>
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>Responsável<span>*</span></label>
                <input class="simple-field" type="text" name="nome" placeholder="Informe o do responsável (obrigatório)" required="" value="" v-model="nome">
                <div class="clear"></div>
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>E-mail <span>*</span></label>
                <input class="simple-field" type="email" name="email" placeholder="Informe seu e-mail para contato (obrigatório)" required="" value="" v-model="email" >                    
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>Telefone <span>*</span></label>
                <input class="simple-field" type="text" name="telefone" placeholder="Informe seu telefone para contato (obrigatório)" required="" value="" v-model="telefone" class="mask_phone">
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>CNPJ <span>*</span></label>
                <input class="simple-field" type="text" name="telefone" placeholder="Informe seu CNPJ (obrigatório)" required="" value="" v-model="cnpj">
            </div>
            <div class="col-sm-6 linha-form-contato">
                <label>Lote do produto <span>*</span></label>
                <input class="simple-field" type="text" name="telefone" placeholder="Informe seu CNPJ (obrigatório)" required="" value="" v-model="lote_produto">
            </div>
            <div class="col-sm-6 linha-form-contato">
                <label>Entrou em contato com o fabricante ? <span>*</span></label>
                <select class="simple-field" name="entrou_em_contato" required="" v-model="entrou_em_contato">
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>Qual o problema com o produto ? <span>*</span></label>
                <input class="simple-field" type="text" name="telefone" placeholder="Informe o problema (obrigatório)" required="" value="" v-model="problema_produto">
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>Assunto <span>*</span></label>
                <select class="simple-field" name="assunto" required="" v-model="assunto">
                    <option value="Dúvida">Dúvida</option>
                    <option value="Sugestão">Sugestão</option>
                    <option value="Elogio">Elogio</option>
                    <option value="Reclamação">Reclamação</option>
                    <option value="Vendas">Vendas</option>
                    <option value="Financeiro">Financeiro</option>
                    <option value="Trocas e Devoluções">Trocas e Devoluções</option>
                    <option value="Seja nosso Fornecedor">Seja nosso Fornecedor</option>
                    <option value="Reserva">Reserva</option>
                </select> 
            </div>
            <div class="col-sm-12 msg-form-contato">             
                <label>Mensagem <span>*</span></label>
                <textarea class="simple-field" name="mensagem" placeholder="Informe o motivo do contato (obrigatório)" required="" v-model="mensagem"></textarea>
            </div>
            <div class="col-sm-12">
               
                <input type="hidden" name="destinatario" value="contato@portofrescatto.com.br" v-model="destinatario">
                <div class="button style-10">Enviar<input type="submit" id="btn_contato" value=""></div>
            </div>
        </div>
    </form>

    <form v-else-if="lugar == 'contato'" id="form-contato" autocomplete="off" v-on:submit.prevent="cadastrar" class="contato"> 
        <h3 class="block-title main-heading">Como podemos te ajudar?</h3>
        <div class="row collapse tpl-alert">
            <div class="col-md-12"><div class="alert"></div></div>
        </div>              
        <div class="row">
            <div class="col-sm-12 linha-form-contato">
                <label>Nome <span>*</span></label>
                <input class="simple-field" type="text" name="nome" placeholder="Informe seu nome (obrigatório)" required="" value="" v-model="nome">
                <div class="clear"></div>
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>E-mail <span>*</span></label>
                <input class="simple-field" type="email" name="email" placeholder="Informe seu e-mail para contato (obrigatório)" required="" value="" v-model="email" >                    
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>Telefone <span>*</span></label>
                <input class="simple-field" type="text" name="telefone" placeholder="Informe seu telefone para contato (obrigatório)" required="" value="" v-model="telefone" class="mask_phone">
            </div>
            <div class="col-sm-12 linha-form-contato">
                <label>Assunto <span>*</span></label>
                <select class="simple-field" name="assunto" required="" v-model="assunto">
                    <option value="Dúvida">Dúvida</option>
                    <option value="Sugestão">Sugestão</option>
                    <option value="Elogio">Elogio</option>
                    <option value="Reclamação">Reclamação</option>
                    <option value="Vendas">Vendas</option>
                    <option value="Financeiro">Financeiro</option>
                    <option value="Trocas e Devoluções">Trocas e Devoluções</option>
                    <option value="Seja nosso Fornecedor">Seja nosso Fornecedor</option>
                    <option value="Reserva">Reserva</option>
                </select> 
            </div>
            <div class="col-sm-12 msg-form-contato">             
                <label>Mensagem <span>*</span></label>
                <textarea class="simple-field" name="mensagem" placeholder="Informe o motivo do contato (obrigatório)" required="" v-model="mensagem"></textarea>
            </div>
            <div class="col-sm-12">
                
                <input type="hidden" name="destinatario" value="contato@portofrescatto.com.br" v-model="destinatario">
                <div class="button style-10">Enviar<input type="submit" id="btn_contato" value=""></div>
            </div>
        </div>
    </form>
</template>    