<template id="cupom">
    <form autocomplete="off" v-on:submit.prevent="buscarCupom">
        <div class="row">
            <div class="col-sm-8">
                <label for="cupom">Cupom</label>
                <input type="text" class="simple-field" name="cupom" v-model="codigoCupom" required>
            </div>
            <div class="col-sm-4">   
                <input type="submit" value="Validar" class="button style-10" style="margin-top: 30px" />     
            </div>  
        </div>      
    </form>
</template>