<template id="destaques">
     
    <div v-if="produtos.length > 0" class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-8 md-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.2s" v-for="produto in produtos" :key="produto.cod_produto">
            <cardProduto :produto="produto"> </cardProduto>
        </div>
    </div>
</template>