<template id="extraProduto">
    <!-- Modal -->
    <div class="modal fade modal-extra" :id="'extras-'+produto.id_produto" tabindex="-1" role="dialog" aria-labelledby="compreExtra">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="compreExtra">Selecione as Opções e adicione ao carrinho</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            
            </div>
            <div class="modal-body">
                <section class="produto-detalhe-info" id="compre-extra" >
                           
                            <div class="row box-extra">
                                    <div class="col-sm-12 col-xs-12">
                                            
                                            <h2>{{produto.nome_produto}}</h2>
                                    </div>
                                    <div class="col-12">
                                        <h3>Acompanhamentos</h3>
                                        <p class="obs">Máximo Acompanhamentos: {{produto.max_acompanhamentos}}</p>
                                            <template v-for="(item_acompanhamento, index) in produto.acompanhamentos">
                                                <div class="col-12">
                                                    <label :for="index">
                                                        <input type="checkbox" v-model="acompanhamentos" :value="item_acompanhamento.nome_produto" :name="index" :id="index" :disabled="acompanhamentos.length == produto.max_acompanhamentos && (!acompanhamentos.includes(item_acompanhamento.nome_produto))"> {{item_acompanhamento.nome_produto}}
                                                    </label>
                                                </div>
                                            </template>
                                    </div>
                                    <div class="col-12">
                                        <h3>Escolha seus extras</h3>
                                    </div>
                                    <template v-for="(item_extra, index) in produto.extras">
                                        <div class="col-6">
                                            <itemExtra :extra="item_extra"></itemExtra>
                                        </div>
                                    </template>
       
                                    <div class="col-12 text-right mt-10">
                                        <p class="valor-total">{{produto.preco_extra | money}}</p>
                                        <button @click="addProdutoItemCarrinho(produto)" class="btn btn-add-carrinho"><i class="fa fa-shopping-cart"></i> Comprar</button>
                                    </div>
                    
                                </div>
                           
                    </section>
            </div>
        </div>
        </div>
    </div>
    </template>        