<template id="itemAcompanhamento">
    <div class="row box-extra">
        <div class="col-12">
            <h3>{{acompanhamento.titulo}}</h3>
            <p class="obs">Máximo Acompanhamentos: {{acompanhamento.max_acompanhamentos}}</p>
        </div>
        <div class="col-12" v-for="(item_acompanhamento, index) in acompanhamento.itens">
            <label :for="index+'-'+indexacompanhamento">
                <input type="checkbox" v-model="selecionado" :value="item_acompanhamento" :name="index+'-'+indexacompanhamento" :id="index+'-'+indexacompanhamento" :disabled="selecionado.length == acompanhamento.max_acompanhamentos && (!selecionado.includes(item_acompanhamento))"> {{item_acompanhamento}}
            </label>
        </div>
    </div>
</template>        