<template id="itemExtra">
    <div class="row">
        <label class="col-6">
            {{extra.nome_produto}}
            <small>+ {{extra.preco | money}}</small>
        </label>
        <div class="col-6">
            <div class="seletor-quantidade">
                <seletorQtd v-bind:step="1" v-model="quantidade" v-bind:value="quantidade"></seletorQtd>
            </div>
        </div>
    </div>
</template>        