<template id="listaSecoes">
    <div class="m-t-30">
        <div class="product-category-widget-1" >
            <div class="heading-widget hidden-xs"><h3>CATEGORIAS</h3></div> 
            <ul class="product-category-list" id="accordion" >
                <li v-for="(secao, i) in secoes">
                    <div class="category-title"><a :title="secao.nome" data-toggle="collapse" :data-target="'#'+secao.nome | slug" aria-expanded="true" :aria-controls="'#'+secao.nome">{{secao.nome}}</a></div>
                    <ul class="product-subcategory-list collapse" :id="secao.nome | slug" aria-labelledby="headingOne" data-parent="#accordion">
                        <li v-for="(categoria, i) in secao.categorias">
                            <div class="category-title"><a :href="categoria.link" :title="categoria.nome">{{categoria.nome}}</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>