<template id="listaMarcas">        
    <div class="m-t-30">
        <div class="product-category-widget-1 menu-marcas" >
            <div class="heading-widget hidden-xs"><h3>Marcas</h3></div> 
            <ul class="product-category-list" id="accordion" >
                <li v-for="(marca) in marcas">
                    <div class="category-title"><a :title="marca.nome" :href="marca.link">{{marca.nome}}</a></div>

                </li>
            </ul>
        </div>
    </div>
</template>
