<template id="listaProdutos">
    <div v-if="carregando" class="text-center">
        <h2>Carregando...</h2>
    </div>
    <div v-else>
        <div v-if="produtos.length > 0">
            <div class="tofix">
                <ordenacao :lista="[
                {label: 'Nome (A-Z)', value: 'ordem=nome_produto&direcao=asc'},
                {label: 'Nome (Z-A)', value: 'ordem=nome_produto&direcao=desc'},
                {label: 'Menor Preço', value: 'ordem=preco&direcao=asc'}
                ]"></ordenacao> 
            </div>
 
                    <div class="sort-widget-1">
                        <div class="text-result">
                            <p>{{legenda_pagina}}</p>
                        </div>
                    </div>
               
            <div class="row" id="infinitiContent">
                <template v-for="produto in produtos">
                    <div class="col-6 col-sm-6 col-lg-4 lista-secao espacamento">
                        <cardProduto :produto="produto" :usuario="usuario"></cardProduto>
                    </div>
                </template>
            </div>
            <div class="row" v-if="total > (pagina * quantidade)">
                <div class="col-md-12 text-center">                    
                    <button @click="paginar()" class="btn btn-load-more">Carregar mais</button>
                </div>
            </div>
        </div>
        <div v-else><h2>Sua busca não retornou resultados :(</h2></div>
        <template v-if="carregandoAjax">
            <img src="images/loader.gif" alt="Carregando..." class="loading-scroll">
        </template>
    </div>
</template>