<template id="login">   
    <form autocomplete="off" v-on:submit.prevent="acessar">
        <div class="form-body">
                       
            <label>E-mail</label>       
            <input class="simple-field" type="text" name="email" required="" v-model="email" placeholder="Informe seu e-mail">

            <label>Senha</label>
            <input class="simple-field" type="password" name="senha" required="" v-model="senha" placeholder="Informe sua senha">
        </div>
                
        <div class="form-footer"> <input type="submit" value="Entrar" class="btn-submit" /></div>
    </form> 
</template>

               