<template id="meusPedidos">    
    <div class="container-fluid">

        <div class="modal fade " id="modalPix" tabindex="-1" role="dialog" aria-labelledby="modalPixLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPixLabel">Pagamento via Pix</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" v-if="modalPagamento">
                            <div class="col-md-5">
                                <div class="card" >
                                    <img class="card-img-top" :src="modalPagamento.pagamento.pix.qrcode">
                                    <div class="card-footer text-center">
                                        <button class="button style-10" @click="copyToClipboard(modalPagamento.pagamento.pix.qrcode_text)">Copiar e Colar</button>
                                        <p><small v-if="copiado">Copiado para área de transferência</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <ul class="resumo-carrinho">
                                    <li class="list-inline columnCaptions">
                                        <span>Produto</span>
                                        <span>Quantidade</span>
                                        <span class="ml-4">Total</span>
                                    </li>
                                    <li class="row-produto" v-for="(produto, indice) in modalPagamento.produtos">
                                        <span class="itemName">
                                            {{produto.nome_produto}}
                                            <small v-if="produto.is_combo" style="white-space: pre"><br>{{produto.descricao}}</small>
                                            <small v-if="produto.preco_uni > 0" style="display:block !important;">{{produto.preco_uni | money}}
                                                {{produto.unidade == "CAIXA" || produto.unidade == "FARDO" ? 'UNIDADE' : produto.unidade}}</small>
                                            <small v-if="produto.desc_embalagem" style="white-space: pre">{{produto.desc_embalagem}}</small>
                                            <small v-if="produto.embalagem"> - {{produto.embalagem.replace(',00', '')}}</small>
                                        </span>

                                        <span class="quantity">
                                            {{produto.quantidade}}
                                        </span>
                                        <span class="ml-4">{{produto.preco | money}}</span>
                                    </li>
                                    <p class="ml-2" v-if="modalPagamento.valor_frete > 0">Frete: <span>{{modalPagamento.valor_frete | money}}</span></p>
                                    <p class="ml-2">Total: <span>{{modalPagamento.total | money}}</span></p>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-pedido row">
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-4">
                        <h3 class="label_txt">
                            Status
                        </h3> 
                    </div>
                    <div class="col-2"><h3 class="label_txt">Data</h3></div>
                    <div class="col-2"><h3 class="label_txt">Itens</h3></div>
                    <div class="col-2"><h3 class="label_txt">Frete</h3></div>
                    <div class="col-2"><h3 class="label_txt">Total</h3></div>
                </div>
                
            </div>
            
        </div>
        <div class="item-pedido row" v-for="(pedido, i) in pedidos">
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-4">
                        <h3 class="text-success">
                            {{  
                                pedido.status == 'Em Análise' ? 'Em Processamento': 
                                pedido.status == 'Em Andamento' ? 'Pedido em Separação':
                                pedido.status == 'Concluído' ? 'Pedido Entregue' : pedido.status
                            }}
                        </h3> 
                    </div>
                    <div class="col-2">{{pedido.data_criacao | dateBR}}</div>
                    <div class="col-2">{{pedido.produtos.length}}</div>
                    <div class="col-2">{{pedido.valor_frete | money}}</div>
                    <div class="col-2">{{pedido.total | money}}</div>
                </div>
                
                <!-- <p class="small">Data: {{pedido.data_criacao | dateBR}} | 
                Itens: {{pedido.produtos.length}} | 
                Frete: {{pedido.valor_frete | money}} |
                Total: {{pedido.total | money}}
                <template v-if="pedido.pagamento && pedido.pagamento.tipo=='Tradepay Boleto'">
                    <br>
                    Código de Barras: {{pedido.pagamento.barcode}}
                </template>
                </p> -->
                <template v-if="pedido.pagamento && pedido.pagamento.pix && pedido.pagamento.tipo=='Pix'">
                    QRCode Pix: <small><p class="crop-text" :id="pedido.pagamento.id">{{pedido.pagamento.pix.qrcode_text}}</p></small>
                </template>
            </div>
            <!-- <div class="col-sm-3" v-if="pedido.pagamento && pedido.pagamento.tipo=='Tradepay Boleto'">
                <a :href="pedido.pagamento.url_boleto" target="_blank" class="button style-10" style="margin-top: 30px" >Abrir Boleto</a>
            </div>
            <div class="col-sm-3" v-if="pedido.pagamento && pedido.pagamento.tipo=='Pix' && pedido.pagamento.status == 'pending' && pedido.id_status <= 2">
                <button :href="pedido.pagamento.pix.qrcode"  class="button style-10" style="margin-top: 30px" data-toggle="modal" data-target="#modalPix" @click="abrirPix(pedido)" >QRCode Pix</button>
            </div> -->
            
            <div class="col-sm-4 ">
                <div class="row">
                    <div class="col-6 text-right">
                        <a v-if="pedido.pagamento && pedido.pagamento.tipo=='Tradepay Boleto'" :href="pedido.pagamento.url_boleto" target="_blank" class="button style-10" style="margin-top: 30px" >Abrir Boleto</a>
                        <button v-else-if="pedido.pagamento && pedido.pagamento.tipo=='Pix' && pedido.pagamento.status == 'pending' && pedido.id_status <= 2" :href="pedido.pagamento.pix.qrcode"  class="button style-10" style="margin-top: 30px" data-toggle="modal" data-target="#modalPix" @click="abrirPix(pedido)" >QRCode Pix</button>
                    </div>
                    
                    <div class="col-6 text-left">
                        <button class="button style-10" style="margin-top: 30px" @click="verDetalhes(pedido)" >Ver Detalhes</button>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</template>