<template id="cadastroNewsletter">
    <div class="section newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <h4>Cadastre-se</h4>
                    <p>E RECEBA OFERTAS <span>EXCLUSIVAS</span></p>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="form-group">
                        <form autocomplete="off" v-on:submit.prevent="cadastrar">
                            <input type="" name="email" placeholder="Digite seu Whatsapp" required="required" class="form-control" v-model="email"> 
                            <button class="btn btn-preto">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </template>