<template id="omnichannel">
    <div class="dropdown dropdown-omni" style="display: inline-block">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" v-if="ativo">
            <i class="fa fa-map-marker"></i>&nbsp;
            <span v-if="ativo && !selecione"><span class="hidden-xs hidden-sm"></span> <strong>{{ativo.nome}}</strong></span>
            <span v-else>Selecione a loja...</span>
            <span class="caret"></span>
        </button>       
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li v-for="filial in filiais">
                <a href="javascript:;" @click="trocarFilial(filial)">{{filial.nome}}</a>
            </li>
        </ul>
    </div>
<!--     <div v-else class="botoes-omni">
        <a v-for="filial in filiais" @click="trocarFilial(filial)" href="javascript:" class="btn">{{filial.nome}}</a>
    </div> -->
</template>        
