<template id="ordenacao">
    <div class="box-filter">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>
            Ordenar por </strong>{{ativo.label}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li v-for="item in lista"><a :href="base_url + item.value">{{item.label}}</a></li>
        </ul>
    </div>
</template>