<template id="paginacao">
    <div class="pages-box hidden-xs ">
        <template v-for="(pagina, i) in paginas">
          <a v-if="current > 1 && i==0":class="['square-button ',{ 'active' : current == (i+1)}]" :href="paginas[0]"><span>1</span></a>
          <span style="font-size:12px;padding: 10px;" v-if="i!=0 && i==1 && current > 1 " >...</span style="font-size:12px"> 

          <a v-if="i < (paginas.length -1) && i <=(current + 2) && i >=(current - 3) && i!=0 " :class="['square-button ',{ 'active' : current == (i+1)}]" :href="pagina"><span>{{i+1}}</span></a>
          <span style="font-size:12px;padding: 10px;" v-if="paginas.length > 4 && i ==(current + 2)" >...</span style="font-size:12px">
        </template>    

        <a :class="['square-button  ',{ 'active' : current == paginas.length}]" :href="paginas[paginas.length-1]"><span>{{paginas.length}}</span></a>

              
      </div>
</template> 