 <template id="pedido">
    <div v-if="pedido" class="col-xs-12 detalhe-pedido-food">

        <h2 class="d-inline-block"><small>Pedido Nº</small> #{{ pedido.id_pedido}}</h2>
        <a href="javascript:;" class="btn btn-cancelar" @click="cancelarPedido(pedido.id_pedido)" v-if="pedido.id_status == '1'">Cancelar Pedido</a>
        <p>Data: {{pedido.data_criacao | dateBR}}</p>
        <p>Situação: {{pedido.status}}</p>
        <!--h2 :class="{'has-text-color': pedido.id_status == '4',
            'text-warning': ['1','2','3'].indexOf(pedido.id_status) > -1,
            'text-danger' : pedido.id_status == '5'}" class="title-status">
            <i v-if="pedido.id_status == '4'"  class="fa fa-check"></i> {{pedido.status}}
        </h2--> 
         
        <h4>Resumo do pedido</h4>
        <div class="row">
            <div class="resumo_encomenda col-md-6 col-12">
                <p>Subtotal: {{pedido.subtotal | money}}</p>
                <p v-if="pedido.cupom">Cupom de desconto utilizado: <strong>{{pedido.cupom.codigo_cupom}}</strong></p>
                <p v-if="pedido.decrescimos > 0">Desconto : R$ {{ pedido.decrescimos | money}}</p>
                <p v-if="pedido.pontos_utilizados > 0">Pontos Utilizados: {{pedido.pontos_utilizados}}</p>
                <p>Frete: R$ {{pedido.valor_frete | money}}</p>       
                <p class="lead text-primary">Total Final: <b> R$ {{pedido.total | money}}</b></p>
            </div>
            <div class="col-md-6 col-12">
                <p v-if="pedido.pagamento && pedido.pagamento.tipo=='Tradepay Boleto'">

                    Código de Barras: {{pedido.pagamento.barcode}}
                </p>
                <a v-if="pedido.pagamento && pedido.pagamento.tipo=='Tradepay Boleto'" :href="pedido.pagamento.url_boleto" target="_blank" class="button style-10" style="" >Abrir Boleto</a>
                <br>   
            </div>
        </div>

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th style="padding: 0; width: 5px"></th>
                    <th>Produto</th>
                    <th>Preço Unitário</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in pedido.produtos" :key="index">
                    <td class="has-bg-color"></td>
                    <td>{{item.nome_produto}}</td>
                    <td>{{item.preco | money}} </td>
                    <td>{{item.quantidade}} <small v-if="item.desc_embalagem" style="white-space: pre"> {{item.desc_embalagem}}</small> <span v-if="item.embalagem"> - {{item.embalagem.replace(',00', '')}}</span></td>
                    <td>{{item.total | money}} </td>                 
                </tr>
            </tbody>
        </table>
        
    </div>
    <div v-else align="center">
        <br>
        <h4>Aguarde...</h4>
        <br>
    </div>
</template>