<template id="produtoDetalhe">
    <section v-if="!produto">Carregando...</section>
    <section class="detalhe-produto" v-else>
        <breadcrumb :produto="produto" :base_url="base_url"></breadcrumb>
        <div class="container detalhe-produto">
            <template v-if="produto.preco_de !='' && produto.preco_de > 0 && produto.preco > produto.preco_de">
                <span class="promotion-label">
                    <div class="info"></div><span>{{porcentagem_desconto}}</span>
                </span>

            </template>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="list-thumbs">
                                <div class="thumb" v-for="foto in produto.fotos">
                                    <a href="#" class="imgZoom">
                                        <fotoProduto :produto="produto" :tamanho="4" :foto="foto"></fotoProduto>
                                    </a>
                                </div>
                                <div class="thumb" v-if="typeof produto != 'undefined' && produto.video_id">
                                    <a class="imgZoom youtube">
                                        <img :src="'https://img.youtube.com/vi/'+ produto.video_id +'/maxresdefault.jpg'"
                                            alt="">
                                        <picture class="embed-container">
                                            <iframe width="400" height="220"
                                                :src="'https://www.youtube.com/embed/' + produto.video_id"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 box-zoom ">
                            <fotoProduto :produto="produto" :tamanho="4"></fotoProduto>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 product-detail-content-1">
                    <div class="product-name">
                        <h1>{{produto.nome_produto.toLowerCase()}} <span class="marca">{{produto.marca}}</span></h1>
                    </div>
                    <div class="embalagem">
                        <p> {{produto.unidade == "CAIXA" || produto.unidade == "FARDO" ? 'UNIDADE' : produto.unidade}}
                            <span v-if="produto.flag_validade" class="validade">Validade:
                                {{produto.validade_data}}
                            </span>
                        </p>
                        
                    </div>
                    <div class="m-b-30" v-if="getEstoque() >= 1 && (typeof $attrs.usuario.bloqueado=='undefined' || $attrs.usuario.bloqueado===0)">
                        <form class="theme-form">
                            <div class="product-price mt-10 info-prod">

                                <p v-if="produto.preco_uni > 0" class="price">
                                    {{produto.preco_uni | money}}
                                </p>
                                <template v-else>
                                    <template v-if="produto.preco_de !='' && produto.preco_de > 0 && produto.preco > produto.preco_de">
                                        <p class="price-de"><strike>{{produto.preco | money}}</strike></p>
                                        <p class="price">
                                            {{produto.preco_de | money}}
                                        </p>
                                    </template>
                                    <template v-else>
                                        <p class="price">
                                            {{produto.preco | money}}
                                        </p>
                                    </template>
                                </template>
                                <p class="texto"> 
                                    <small v-if="produto.desc_embalagem">
                                        {{produto.desc_embalagem}} - Total: 
                                        <template v-if="produto.preco_de !='' && produto.preco_de > 0 && produto.preco > produto.preco_de">
                                            de <strike>{{produto.preco | money}}</strike> por {{produto.preco_de |
                                            money}}
                                        </template>
                                        <template v-else>
                                            {{produto.preco | money}}
                                        </template>
                                       
                                    </small>
                                </p>
                                <div>
                                    <div class="product-add-to-cart">
                                        <div class="seletor-quantidade">
                                            <seletorQtd v-bind:step="1" v-model="produto.quantidade" v-bind:value="produto.quantidade"></seletorQtd>
                                        </div>
                                    </div>
                                    <a href="javascript:;" class="btn btn-add-carrinho"
                                        @click="addProdutoCarrinho(produto)">
                                        <i class="fa fa-shopping-cart"></i><span>&nbsp;COMPRAR</span>
                                    </a>
                                </div>
                                <div>
                                    <p class="texto">
                                        <!-- <template  v-if="produto.preco_uni > 0">
                                            <small><strong></strong>
                                                Ou pague {{(produto.preco_uni - produto.preco_uni * 0.03) | money}} 
                                                {{produto.unidade == "CAIXA" || produto.unidade == "FARDO" ? 'UNIDADE' :
                                                produto.unidade}} pelo Pix 
                                                <template v-if="produto.preco_de !='' && produto.preco_de > 0 && produto.preco > produto.preco_de">
                                                    Total {{(produto.preco_de - produto.preco_de * 0.03) | money}} {{produto.unidade == "CAIXA" || produto.unidade == "FARDO" ? 'UNIDADE' :
                                                    produto.unidade}} (3% de desconto)
                                                </template>
                                                <template v-else>
                                                    Total {{(produto.preco - produto.preco * 0.03) | money}} {{produto.unidade == "CAIXA" || produto.unidade == "FARDO" ? 'UNIDADE' :
                                                    produto.unidade}}  (3% de desconto)
                                                </template>
                                            </strong></small>
                                        </template>
                                        <template v-else>
                                            <small>
                                                <strong v-if="produto.preco_de !='' && produto.preco_de > 0 && produto.preco > produto.preco_de">
                                                    Ou pague {{(produto.preco_de - produto.preco_de * 0.03) | money}} {{produto.unidade == "CAIXA" || produto.unidade == "FARDO" ? 'UNIDADE' :
                                                    produto.unidade}} pelo Pix (3% de desconto)
                                                </strong>
                                                <strong v-else>
                                                    Ou pague {{(produto.preco - produto.preco * 0.03) | money}} {{produto.unidade == "CAIXA" || produto.unidade == "FARDO" ? 'UNIDADE' :
                                                    produto.unidade}} pelo Pix (3% de desconto)
                                                </strong>
                                            </small>
                                        </template> -->

                                        <!-- <br>
                                        <br>
                                        <br>
                                        <span v-if="produto.flag_validade" class="validade">Validade:
                                            {{produto.validade_data}}
                                        </span> -->
                                    </p>
                                </div>
                            </div>
                        </form>
                        <p class="frete-gratis">
                            FRETE GRÁTIS
                        </p>
                    </div>
                </div>
                
                <div class="col-12 col-md-12" v-if="produto.descricao !='' ">
                    <h2 class="title-descricao-produto">CARACTERÍSTICAS DO PRODUTO</h2>
                    <p>
                        {{produto.descricao}}
                    </p>

                </div>
                <!-- <div class="d-none d-md-block col-6" v-if="produto.descricao !=''"></div> -->

                <div class="col-12 col-md-6">
                    <h2 class="title-descricao-produto">INFORMAÇÕES ADICIONAIS</h2>
                    <table class="table table-striped tabela-descricao">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Marca:</th>
                                <td>{{produto.marca}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Unidade:</th>
                                <td>{{produto.unidade}}</td>
                            </tr>
                            <tr v-if="produto.embalagem">
                                <th scope="row">Embalagem:</th>
                                <td>{{produto.desc_embalagem.replace(',00', '')}}</td>
                            </tr>
                            <tr v-if="produto.peso">
                                <th scope="row">Peso:</th>
                                <td>{{produto.peso.toFixed(2)}} kg</td>
                            </tr>
                            <tr>
                                <th scope="row">Validade:</th>
                                <td>{{produto.validade}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Código:</th>
                                <td>{{produto.cod_produto}}</td>
                            </tr>
                            <tr>
                                <th scope="row">EAN:</th>
                                <td>{{produto.cod_barras}}</td>
                            </tr>
                            <tr v-if="produto.tabela_nutricional && produto.tabela_nutricional.porcao!=''">
                                <th scope="row"></th>
                                <td><br>
                                    <div v-if="produto.tabela_nutricional && produto.tabela_nutricional.porcao!=''"
                                        class="tab-pane fade" id="tabela_nutricional" role="tabpanel"
                                        aria-labelledby="tabela_nutricional-tab">
                                        <p class="text-center">
                                            INFORMAÇÃO nutricional<br>
                                            {{produto.tabela_nutricional.porcao}}
                                        </p>
                                        <table class="table">
                                            <thead>
                                                <th></th>
                                                <th>Quantidade por Porção</th>
                                                <th>Valor diário %VD</th>
                                            </thead>
                                            <tbody v-if="typeof produto.tabela_nutricional.itens != 'undefined'">
                                                <tr v-for="item in produto.tabela_nutricional.itens">
                                                    <td align="left"><strong>{{item.nome}}</strong></td>
                                                    <td align="left"> {{item.qtd}}</td>
                                                    <td align="left">{{item.vd}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <p class="small ">{{produto.tabela_nutricional.obs}}</p>
                                    </div>
                                    <!-- <span v-if="produto.tabela_nutricional && produto.tabela_nutricional.porcao != ''">{{produto.tabela_nutricional}}</span> -->
                                    <p class="link-oferta" v-if="('combos' in produto && produto.combos.length > 0)"><a class="goTo" href="#compre-junto" title="Oferta especial para esse produto, clique e saiba mais!"><i class="fa fa-tag" aria-hidden="true"></i> Clique aqui para Oferta Especial!</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="ingredientes" v-if="produto.ingredientes && produto.ingredientes !='' ">
                        <span>Ingredientes:</span><br>
                        {{produto.ingredientes}}
                    </p>
                </div>
            </div>
        </div>
        <section class="produto-detalhe-info" id="compre-junto" v-if="('combos' in produto && produto.combos.length > 0)">
            <div class="container">
                <template v-for="combo in produto.combos">
                    <div class="row box-combo">
                        <div class="col-sm-12 col-xs-12">
                            <div class="product-name">
                                <h3 class="title-destaque" v-if="combo.titulo_destaque!=''">{{combo.titulo_destaque}}
                                </h3>
                                <h3 class="title-destaque" v-else>Compre <strong>Junto</strong></h3>
                            </div>
                        </div>

                        <template v-for="(item_combo, index) in combo.itens">

                            <div :class="['col-md-3 col-sm-12 item-combo', {'last' : index == (combo.itens.length-1)}]">

                                <div class="produto-card">

                                    <div class="produto-imagem">
                                        <a :href="item_combo | linkProduto">
                                            <picture v-if="item_combo.foto_produto">
                                                <source :srcset="item_combo.foto_produto | fotoProduto('webp', 4)"
                                                    type="image/webp">
                                                <source :srcset="item_combo.foto_produto | fotoProduto('png', 4)"
                                                    type="image/png">
                                                <img :src="item_combo.foto_produto | fotoProduto('png', 4)"
                                                    :alt="item_combo.nome_produto">
                                            </picture>
                                            <img v-else src="https://img.vmarket.com.br/no-image.png" :alt="item_combo.nome_produto">
                                        </a>
                                    </div>
                                    <div class="produto-desc">
                                        <a :href="item_combo | linkProduto" class="titulo"
                                            :title="item_combo.nome_produto"> <strong>{{item_combo.quantidade}} x
                                            </strong>{{item_combo.nome_produto.substring(0,50)}}</a>
                                        <p class="preco-de">de <strike>{{item_combo.preco_de | money}}</strike> por</p>
                                        <p class="preco">{{item_combo.preco | money}}</p>

                                    </div>
                                </div>
                            </div>
                        </template>
                        <div class="col-md-3 col-sm-12 resumo-valor-combo">
                            <p>Compre os <strong>{{combo.itens.length + 1}}</strong> produtos juntos por</p>
                            <p class="valor-combo" v-if="produto.preco_de && produto.preco_de > 0">
                                {{parseFloat(combo.total) + produto.preco_de | money}}</p>
                            <p class="valor-combo" v-else>{{parseFloat(combo.total) + produto.preco | money}}</p>
                            <button @click="addComboCarrinho(combo)" class="btn-comprar-big">Comprar Junto</button>
                        </div>
                    </div>
                </template>
            </div>
        </section>
        <div class="section destaques">
            <div class="container">
                <div class="heading-section-1">
                    <h3 class="title-destaque short-line">Recomendações para você...</h3>
                </div>
                <produtosRelacionados mesmasecao="1" quantidade="10" :usuario="$attrs.usuario"></produtosRelacionados>
            </div>
        </div>
    </section>
</template>