<template id="fotoProduto">
		<picture v-if="foto">
			<source :srcset="foto | fotoProduto('webp', tamanho)" type="image/webp">
			<source :srcset="foto | fotoProduto('png', tamanho)" type="image/png">
			<img :src="foto | fotoProduto('png', tamanho)" :alt="produto.nome_produto">
		</picture>
		<picture v-else-if="produto.fotos && produto.fotos[0]">
			<source :srcset="produto.fotos[0] | fotoProduto('webp', tamanho)" type="image/webp">
			<source :srcset="produto.fotos[0] | fotoProduto('png', tamanho)" type="image/png">
			<img :src="produto.fotos[0] | fotoProduto('png', tamanho)" :alt="produto.nome_produto">
		</picture>
		<picture v-else-if="produto.foto_produto">
			<source :srcset="produto.foto_produto | fotoProduto('webp', tamanho)" type="image/webp">
			<source :srcset="produto.foto_produto | fotoProduto('png', tamanho)" type="image/png">
			<img :src="produto.foto_produto | fotoProduto('png', tamanho)" :alt="produto.nome_produto">
		</picture>
		<img v-else src="https://img.vmarket.com.br/no-image.png" :alt="produto.nome_produto">
</template>