<template id="produtosRelacionados">

    <div class="base-swiper-destaque">
        <div class="swiper-container swiper-container-produtos-relacionados"  >
            <div class="swiper-wrapper" >
                <div v-for="produto in produtos_destaque" class="swiper-slide">
                    <cardProduto :usuario="usuario" :produto="produto"></cardProduto>
                </div>
            </div>

        </div>
        <div :class="'swiper-button-prev btn-'">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></svg> -->
        </div>
        <div :class="'swiper-button-next btn-'">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></svg> -->
        </div>
    </div>

</template>