<template id="cardProduto">
    <div class="rm-rotate-box text-center">
      <div class="flipper to-left">
          <div class="thumb-wrap">
              <div class="front overflow-hidden h-480px border-radius-4px overflow-hidden lg-h-450px" style="background-image:url('images/bloco-01-zen.jpg')">
                  <div class="opacity-medium-2 bg-gradient-extra-dark-gray-transparent"></div>
                  <div class="content-wrap padding-15px-lr">
                      <span class="text-white text-large letter-spacing-1px margin-10px-bottom text-uppercase alt-font d-inline-block font-weight-500">{{produto.nome_produto}}</span>
                      <span class="text-white opacity-6 text-medium text-uppercase letter-spacing-1-half alt-font d-block">{{produto.nome_secao}}</span>                                          
                  </div>
              </div>
              <div class="back border-radius-4px overflow-hidden">
                  <div class="overlay-bg bg-yellow-2"></div>
                  <div class="content-wrap padding-60px-all lg-padding-30px-lr md-padding-40px-lr xs-padding-30px-all">
                      <i class="line-icon-Plate
  icon-large text-white margin-35px-bottom"></i>
                      <span class="text-black text-extra-medium letter-spacing-1px font-weight-500 text-uppercase alt-font d-block margin-10px-bottom">{{produto.nome_produto}}</span>
                      <p class="text-black opacity-7">{{produto.descricao}}</p>

                    
                      <button type="button" @click='addProdutoCarrinho(produto)' class="btn  thin btn-extra-large text-extra-dark-gray" title="Adicionar ao carrinho">Comprar</button>

                      
                      <!-- <a href="#" class="btn btn-link thin btn-extra-large text-extra-dark-gray">Comprar</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>	

