<template id="listaReceitas">
    <div v-if="carregando" class="text-center">
        <h2>Carregando...</h2>
    </div>
    <div v-else>
        <div v-if="receitas.length > 0">     
            <div class="row" id="infinitiContentReceitas">
                <template v-for="receita in receitas">
                    <div class="col-sm-6 col-lg-3 lista-secao">
						<cardReceita :receita="receita"></cardReceita>
                    </div>
                </template>
            </div>
        </div>
        <div v-else><h2>Sua busca não retornou resultados :(</h2></div>
        <template v-if="carregandoAjax">
            <img src="images/loader.gif" alt="Carregando..." class="loading-scroll">
        </template>
    </div>
</template>