<template id="cardReceita">
	<div class="cardReceita">
		<a :href="receita | linkReceita" class="link-produto">
			<fotoProduto :produto="receita" :tamanho="4" tipo="receita"></fotoProduto>
			<h5 class="card-title">{{receita.titulo}}</h5>
		</a>
		<div class="div-subtitle">
			<!-- <p class="subtitle">
				<span v-if="receita.resumo && receita.resumo !=''">{{receita.resumo.substring(0,120)}}</span>
				<span v-if="receita.resumo && receita.resumo.length>120 && receita.resumo !=''">...</span>
			</p> -->
		</div>
	</div>
</template>


	