<template id="receitaDetalhe">
    <section v-if="!receita">Carregando...</section>
	<div v-else id="placeholder-1" class="">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="heading-page">
						<h1  class="title-destaque">{{receita.titulo}}</h1>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="page-content p-t-40 p-b-100">

		<div class="container p-t-40 p-b-40">
			<div class="row texto-receita">
				<div class="col-md-4">
					<fotoProduto :produto="receita" :tamanho="4" tipo="receita"></fotoProduto>
				</div>
				<div class="col-md-4 texto-receita">
					<p> <i class="fa fa-clock-o"></i> <span>Tempo de preparo: {{receita.tempo_preparo}}</span><br>
						<i class="fa fa-black-tie"></i> <span>Rendimento: {{receita.rendimento}}</span>
					</p>
					<p><b>Ingredientes: </b></p>
					<div class="html-content quebralinha">
						<span>{{receita.ingredientes}}</span>
					</div>			
				</div>
				<div class="col-12 col-md-4 modo-preparo">
					<p><b>Modo de Preparo:</b></p>
					<div class="html- quebralinha">
						<span>{{receita.modo_preparo}}</span>
					</div>
				</div>
				
			</div>

		</div>	
		<div class="section destaques">
            <div class="container">
                <div class="heading-section-1">
                    <h3 class="title-destaque short-line">Produtos Relacionados</h3>
                </div>
				<produtosRelacionados quantidade="25" :ignorar_estoque="1" :produtos="receita.produtos" :usuario="$attrs.usuario"></produtosRelacionados>
            </div>
        </div>
	</div>

</template>








                        
        