<template id="resetSenha">
    <form v-on:submit.prevent="enviar" class="text-center form-placehover" v-if="!enviado">
        <h4>Digite seu e-mail abaixo. Iremos enviar uma nova senha para acessar!</h4>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <input type="text" name="email" v-bind:email="email" v-model="email" required="required" maxlength="60" class="simple-field" placeholder="Digite seu e-mail aqui" style="border-radius:0">
            </div>
            <div class="col-md-4 col-xs-12">
                <input type="submit" v-if="!carregando" class="button style-10" value="Enviar">
                <input type="submit" disabled v-else class="button style-10" value="Aguarde...">
            </div>
        </div>
    </form>
    <div v-else>
        <h4>Uma nova senha foi enviada para seu e-mail! :)</h4>
    </div>
</template>