<template id="seletorQtd">
    <div class="input-group" :class="{[`input-group-${size}`]: size, }" v-on="listeners" >
        <span class="input-group-btn" > 
            <button v-if="controls && (currentValue > 0 || !hideZero)" class="btn btn-link btn-xs" :class="extraButtonClasses" type="button" :disabled="disabled || readonly || !decreasable" @click="decrease" > <i class="fa fa-minus"></i> </button>
        </span>
        <input class="form-control input-number text-center" type="text" :name="name" :value="currentValue" :min="min" :max="max" :step="step" :readonly="readonly || !inputtable" :disabled="disabled || (!decreasable && !increasable)" :placeholder="placeholder" :style="{visibility : (currentValue > 0 || !hideZero) ? 'visible' : 'hidden' }" autocomplete="off" @change="change" @paste="paste">
        <span class="input-group-btn"> 
            <button v-if="controls" class="btn btn-link btn-xs" :class="extraButtonClasses" type="button" :disabled="disabled || readonly || !increasable" @click="increase" > <i class="fa fa-plus"></i> </button>
        </span>
    </div>
</template>
