<template id="statusDelivery">
    <div>
        <div class="text-center">
            <div>
                <p>Nosso delivery está indisponível, mas você pode navegar entre nossos produtos </p>

                <button class="button style-10 btn-fechar-modal-delivery">Navegar</button>
            </div>
        </div>
    </div>
</template>