<template id="trabalheConosco">
    <form id="form-contato" autocomplete="off" v-on:submit.prevent="cadastrar" class="contato"> 
            <h3 class="block-title main-heading">Trabalhe Conosco</h3>
            <div class="row">
                Se você tem espírito de vencedor, é comprometido e gosta de trabalhar em equipe, envie-nos o seu currículo e venha trabalhar com a gente!<br><br>

                Entraremos em contato com as pessoas que tiverem o perfil das vagas em aberto, os demais serão salvos no nosso banco de dados para futuras oportunidades.<br><br>

                Seja sincero e objetivo. Boa sorte!!<br><br>

            </div>  
            <div class="row">                     
                <div class="col-sm-12">
                    <label>Nome <span>*</span></label>
                    <input class="simple-field" type="text" name="nome" v-model="nome" placeholder="Informe seu nome (obrigatório)" required="" value="">
                    <div class="clear"></div>
            
                    <label>E-mail <span>*</span></label>
                    <input class="simple-field" type="email" name="email" v-model="email" placeholder="Informe seu e-mail para contato (obrigatório)" required="" value="">
            
                    <label>Telefone <span>*</span></label>
                    <input class="simple-field" type="text" name="telefone" id="telefone" v-model="telefone" placeholder="Informe seu telefone para contato (obrigatório)" required="" value="">
            
                    <label>CEP <span>*</span></label>
                    <input class="simple-field" type="text" name="cep" @keyup="buscarCEP()" v-model="cep"  placeholder="Somente números (obrigatório)" value="" id="cep" maxlength="8"> 
            
                    <label>Cidade <span>*</span></label>
                    <input class="simple-field" type="text" name="cidade" v-model="cidade" placeholder="Preencha o CEP antes" value="" readonly="">
            
                    <label>CPF <span>*</span></label>
                    <input class="simple-field" type="text" name="cpf" v-model="cpf" placeholder="Informe seu CPF (obrigatório)" required="" value="" id="cpf" maxlength="14">
            
                    <label>Data de nascimento <span>*</span></label>
                    <input class="simple-field" type="text" id="data_nascimento" name="data_nascimento" v-model="data_nascimento" placeholder="Informe sua data de nascimento (obrigatório)" required="" value="" maxlength="10">
            
                    <label>Escolaridade <span>*</span></label>
                    <select name="escolaridade" class="simple-field" v-model="escolaridade" title="Informe sua escolaridade">
                        <option>Sem Escolaridade</option>
                        <option>Fundamental Incompleto</option>
                        <option>Fundamental Completo</option>
                        <option>Ensino Médio Incompleto</option>
                        <option>Ensino Médio Completo</option>
                        <option>Ensino Técnico Completo</option>
                        <option>Superior Incompleto</option>
                        <option>Superior Completo</option>
                        <option>Pós-graduado</option>
                    </select>
            
                    <label>Deficiente físico?</label>
                    <select name="deficiente" id="deficiente" v-model="deficiente" class="simple-field" title="Deficiente físico?">
                        <option value="Não" selected="">Não</option>
                        <option value="Sim">Sim</option>
                    </select>
            
                    <label>Se sim, qual deficiência?</label>
                    <input class="simple-field" type="text" name="deficiencia" v-model="deficiencia" placeholder="Informe sua deficiência física, caso possua. Caso contrário, deixe em branco" value="">
            
                    <label>Objetivo Profissional <span>*</span></label>
                    <select name="objetivo" id="objetivo" v-model="objetivo" class="simple-field" title="Informe seu objetivo profissional">
                        <option value="Comercial - Vendedor Externo">Comercial - Vendedor Externo</option>
                        <option value="Comercial - Vendedor Interno">Comercial - Vendedor Interno</option>
                        <option value="Comercial - Coordenador de vendas">Comercial - Coordenador de vendas</option>
                        <option value="Comercial - Promotor de Merchandising">Comercial - Promotor de Merchandising</option>
                        <option value="Comercial - Técnico em Panificação">Comercial - Técnico em Panificação</option>
                        <option value="Logística - Motorista Caminhão D">Logística - Motorista Caminhão D</option>
                        <option value="Logística - Motorista Carreta E">Logística - Motorista Carreta E</option>
                        <option value="Logística - Ajudante Interno">Logística - Ajudante Interno</option>
                        <option value="Logística - Ajudante de Motorista">Logística - Ajudante de Motorista</option>
                        <option value="Logística - Assistente de Logística">Logística - Assistente de Logística</option>
                        <option value="Logística - Assistente de Faturamento">Logística - Assistente de Faturamento</option>
                        <option value="Logística - Coordenador de Logística">Logística - Coordenador de Logística</option>
                        <option value="Administrativo - Jovem Aprendiz">Administrativo - Jovem Aprendiz</option>
                        <option value="Administrativo - Estagiário">Administrativo - Estagiário</option>
                        <option value="Administrativo - Assistente de DP">Administrativo - Assistente de DP</option>
                        <option value="Administrativo - Assistente de RH">Administrativo - Assistente de RH</option>
                        <option value="Administrativo - Assistente Fiscal e Contábil">Administrativo - Assistente Fiscal e Contábil</option>
                        <option value="Administrativo - Assistente de TI">Administrativo - Assistente de TI</option>
                        <option value="Administrativo - Assistente Administrativo">Administrativo - Assistente Administrativo</option>
                        <option value="Administrativo - Assistente Financeiro">Administrativo - Assistente Financeiro</option>
                        <option value="Administrativo - Assistente de Compras">Administrativo - Assistente de Compras</option>
                        <option value="Administrativo - Assistente de Vendas">Administrativo - Assistente de Vendas</option>
                    </select>
            
                    <label>Mensagem </label>
                    <textarea class="simple-field"  v-model="mensagem" type="text" name="mensagem" rows="10" placeholder="Escreva-nos uma mensagem (opcional)" value=""></textarea>

                    <div class="row mb-3">
                        <label class="mr-4">Currículo <span>*</span></label>
                        <input type="file" ref="arquivo" accept=".pdf" required="" name="pdf_valida"> 
                        <small class="ml-3 mt-2">FORMATO ACEITO: .pdf</small>  
                    </div>
        
                    <div class="button style-10">Enviar<input type="submit" id="btn_contato" value=""></div>
                 
                </div>
                 
            </div>
        </form>
</template>    