<template id="menuHeader"> 
    <div class="col-auto col-lg-2 text-end pe-0 font-size-0">
        <div class="header-social-icon d-inline-block">
            <div class="header-button d-none d-md-inline-block" v-if="usuario.logado">
                <button  class="btn btn-small btn-white btn-round-edge popup-with-form " style="margin-right: 5px; padding: 8px 5px;" @mouseover="abrirCarrinho()"><i class="fas fa-shopping-cart"></i></button>
                <a :href="base_url + '/minha-conta'" role="button" class="btn btn-small btn-white btn-round-edge popup-with-form text-center" style="padding: 8px 5px; " >
                    <span class="nome-usuario text-center">Minha Conta</span>
                </a> 
                <a :href="base_url" class="btn btn-small btn-white btn-round-edge" @click.prevent="logout()">Sair</a>
            </div>
            <div class="header-button d-none d-md-inline-block" v-else>
                <button  class="btn btn-small btn-white btn-round-edge popup-with-form " style="margin-right: 5px; padding: 8px 5px;" @mouseover="abrirCarrinho()"><i class="fas fa-shopping-cart"></i></button>
                <a :href="base_url + '/login'" class="btn btn-small btn-white btn-round-edge">Login</a>
            </div>
        </div>
    </div>
    <!-- <div class="group-login-header">
        <div class="header-login minha-conta dropdown" v-if="usuario.logado">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown">
                <span class="nome-usuario">{{usuario.nome}} </span><i class="caret"></i>
            </a>    
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dropdown-conta">
                <li><a role="button" :href="base_url + '/minha-conta'">Minha Conta</a></li>
                <li><a role="button" href="#" @click.prevent="logout()">Sair</a></li>
            </ul>                       
        </div>
        <div class="header-login minha-conta" v-else>
            <a :href="base_url + '/login'" class="dropdown-toggle"><span>Faça o Login <br>ou Cadastre-se</span></a>                    
        </div>
        <div class="cart-shopping carrinho" @mouseover="abrirCarrinho()" >
            <a :href="base_url + '/checkout'" class="Ver Carrinho de compras">
                <span class="cart-qtd">{{carrinho.produtos.length}}</span>
                <span class="cart-valor">{{carrinho.valor_total | money}}</span> 
            </a>
        </div>
    </div>                                 -->
</template>        